<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Donate a Brick | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Donate
                                                    a brick</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="212" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img srcset="/sites/default/files/styles/content_hero_banner_phone/public/2024-06/ONCE%20IN%20A%20LIFETIME%20OPPORTUNITY.jpg?itok=COXrZF_q 576w, /sites/default/files/styles/content_hero_banner_tablet/public/2024-06/ONCE%20IN%20A%20LIFETIME%20OPPORTUNITY.jpg?itok=baShY3CH 1280w, /sites/default/files/styles/content_hero_banner_desktop/public/2024-06/ONCE%20IN%20A%20LIFETIME%20OPPORTUNITY.jpg?itok=EoPsOyZ0 1500w"
                                                            sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="/sites/default/files/styles/content_hero_banner_phone/public/2024-06/ONCE%20IN%20A%20LIFETIME%20OPPORTUNITY.jpg?itok=COXrZF_q"
                                                            alt="ONCE IN A LIFETIME OPPORTUNITY" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <h3>Donating Money for Temple Construction as per Srimad
                                                            Bhagavatam Purana</h3>
                                                        <ul>
                                                            <li>It has been described in the ancient scriptures of
                                                                '<strong>Manushruthi</strong>' and
                                                                '<strong>Dharmasindhu</strong>' that, the one who offers
                                                                financial aid ,donations or service for the construction
                                                                of temple will enjoy all sorts of wealth such as own
                                                                house, vehicle, best employment opportunities, etc in
                                                                all the future births to follow.</li>
                                                            <li>Lord himself has said in '<strong>Srimad
                                                                    Bhagavatam</strong>' that for every single rupee of
                                                                money or service offered by a person will earn him money
                                                                back in multiples of thousands or lakhs. Hence, it is
                                                                said in these scriptures that, people who do not provide
                                                                any help for the construction of temples will suffer
                                                                problems such as living in a rented house or living
                                                                their entire life in other’s captivity.</li>
                                                            <li>In the <strong>Srimad Bhagavatam</strong> we find the
                                                                following verse: offering donations to install the Deity
                                                                of the Lord, to construct or renovate the temple one
                                                                goes to the abode of Lord Vishnu after his death
                                                                (attains <strong>Moksha</strong>).</li>
                                                            <li>A person who donates to a temple for construction or
                                                                renovation so many thousands of years will he/She be
                                                                able to reside in the heavenly planets.</li>
                                                            <li>“Whoever constructs or donates to construct a temple
                                                                will protect eight generations of fathers, grandfathers,
                                                                and forefathers from falling into hell.” one can attain
                                                                the eternal spiritual world (<strong>Vaikunta</strong>).
                                                                One can attain heavenly pleasures. This is known as
                                                                '<strong>Ajnata sukriti'</strong>, which means pious
                                                                credit acquired unknowingly.(<strong>Vamana
                                                                    purana</strong>)</li>
                                                        </ul>
                                                        <h3>A LIFETIME OPPORTUNITY</h3>
                                                        <p>We are offering the 508 Bricks with the names of the sponsors
                                                            engraved on them, to be placed under Their Lordships’ altar.
                                                            Be a part of history today by sponsoring a Brick and your
                                                            name will remain under Their altar for a lifetime.</p>
                                                        <p>Please select the number of bricks you wish to sponsor and
                                                            choose either the full payment or recurring payment option.
                                                            You can also choose a custom recurring payment amount which
                                                            will be charged monthly until you request to cancel it. But
                                                            if you have the capacity, kindly consider the urgency and
                                                            importance of the MISSION and pay in full. And also consider
                                                            making more than one pledge by donating on behalf of your
                                                            guru or a family member.</p>
                                                        <p>Your recurring contribution will be processed automatically
                                                            and you will receive an email receipt for each recurring
                                                            contribution. After completing your pledge payments we will
                                                            contact you from the office to request the name you would
                                                            like on your brick(s).</p>
                                                        <p>Thank you for your great sacrifice to support the dear-most
                                                            project, the Golden Temple(The Palace Temple Of Lord Sri
                                                            Jagannath). Become a Golden Temple Ambassador and tell all
                                                            your devotee family and friends to support the MISSION.</p>
                                                        <p><strong>Golden brick </strong>-<strong> INR 1,00,008/-
                                                            </strong>Only</p>
                                                        <p><strong>Silver brick </strong>-<strong> INR 25,008/</strong>-
                                                            Only</p>
                                                        <p>For donation please contact below number:</p>
                                                        <ul>
                                                            <li>9845046240</li>
                                                            <li>9845016108</li>
                                                            <li>9986077269</li>
                                                            <li>6361079654</li>
                                                        </ul>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/donation/donate-a-brick"
                                                        data-a2a-title="Donate a brick"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fdonation%2Fdonate-a-brick&amp;title=Donate%20a%20brick"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>