<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>About Us| ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">About
                                                    Us</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="65" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="{% static 'themes/images/GNgkp.jpg' %}"
                                                            alt="" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <blockquote>
                                                            <p>The Temple of Sri Sri Radha Madhav</p>
                                                        </blockquote>
                                                        <p><strong>ISKCON Gorakhpur, Sri Sri Radha Madhav Mandir</strong>
                                                            is one of the branches of ISKCON Juhu, the headquarters of
                                                            International Society for Krishna Consciousness. ISKCON
                                                            Gorakhpur is established on January 31, 2018 and we are propagating the spiritual
                                                            knowledge to society at large and to educate all people in
                                                            the techniques of spiritual life in order to check the
                                                            imbalance of values in life and to achieve real unity and
                                                            peace in the world. </p>
                                                        <p>ISKCON Gorakhpur is known for its service to the society
                                                            primarily in preserving the Vedic culture and also for
                                                            profusely distributing Krishna prasadam, be it in times of
                                                            crisis or in normal period. With effective preaching we have
                                                            over a thousand congregational devotees located in every
                                                            corner of Bengaluru for spreading our Sanatan Dharma Culture
                                                            which we have to persist it.</p>
                                                        <p>ISKCON Gorakhpur serves as a spiritual and cultural hub
                                                            for individuals seeking a deeper connection with Krishna and
                                                            a path of spiritual enlightenment. The temple complex is
                                                            characterized by its beautiful architecture, vibrant deity
                                                            worship, and a serene atmosphere that invites visitors to
                                                            immerse themselves in devotion.</p>
                                                        <p>The temple hosts regular religious ceremonies, kirtans
                                                            (devotional singing), discourses, and spiritual gatherings,
                                                            where devotees come together to engage in devotional
                                                            practices and enhance their understanding of Vedic
                                                            philosophy. These activities aim to inspire individuals to
                                                            lead a more spiritually conscious and meaningful life.</p>
                                                        <p>ISKCON Gorakhpur also runs educational and social welfare
                                                            programs. The temple provides spiritual education through
                                                            seminars, workshops, and study circles, enabling people to
                                                            deepen their understanding of ancient scriptures like the
                                                            Bhagavad Gita and the Srimad Bhagavatam.</p>

                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/about-us"
                                                        data-a2a-title="About Us"><a class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Fabout-us&amp;title=About%20Us"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>