<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Founder Acharya | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Founder
                                                    Acharya</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="4" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="{% static 'themes/images/Our_Founder.webp' %}"
                                                            alt="Prabhupad" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <blockquote>
                                                            <p><strong>nama om vishnu-padaya krishna-preshthaya
                                                                    bhutale</strong><br /><strong>srimate
                                                                    bhaktivedanta-swamin iti
                                                                    namine</strong><br /><strong>namas te saraswate deve
                                                                    gaura-vani-pracharine</strong><br /><strong>nirvishesha
                                                                    shunyavadi pashchatya desha tarine</strong></p>
                                                        </blockquote>
                                                        <p>His Divine Grace <a href="https://prabhupada.io/"
                                                                target="_blank">A.C. Bhaktivedanta Swami Prabhupāda</a>
                                                            appeared in this world in 1896 in Calcutta, India. He first
                                                            met his spiritual master, <a
                                                                href="https://iskconcongregation.com/news/srila-bhaktisiddhanta-saraswati-thakurs-appearance-day/"
                                                                target="_blank">Śrīla Bhaktisiddhānta Sarasvatī
                                                                Gosvāmī</a>, in Calcutta in 1922. Bhaktisiddhānta
                                                            Sarasvatī, a prominent religious scholar and the founder of
                                                            sixty-four Gauḍīya Maṭhas (Vedic institutes), liked this
                                                            educated young man and convinced him to dedicate his life to
                                                            teaching Vedic knowledge. Śrīla Prabhupāda became his
                                                            student, and eleven years later (1933) at Allahabad he
                                                            became his formally initiated disciple.</p>
                                                        <p>At their first meeting, in 1922, <a
                                                                href="https://iskconcongregation.com/news/srila-bhaktisiddhanta-saraswati-thakurs-appearance-day/"
                                                                target="_blank">Śrīla Bhaktisiddhānta Sarasvatī
                                                                Ṭhākura</a> requested <a href="https://prabhupada.io/"
                                                                target="_blank">Śrīla Prabhupāda</a> to</p>
                                                        <div class="align-right">


                                                            <div
                                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                <div class="field__label visually-hidden">Image</div>
                                                                <div class="field__item">
                                                                   
                                                                       <img style="max-width:500px;"
                                                                            src="{% static 'themes/images/srila_prabhupada.webp'%}"
                                                                            alt="" />
                                                                   
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <p> broadcast Vedic knowledge through the English language. In
                                                            the years that followed, Śrīla Prabhupāda wrote a commentary
                                                            on the <a href="https://vedabase.io/en/library/bg/"
                                                                target="_blank"><em>Bhagavad-gītā</em></a><em>,</em>
                                                            assisted the Gauḍīya Maṭha in its work and, in 1944, without
                                                            assistance, started an English fortnightly magazine, edited
                                                            it, typed the manuscripts and checked the galley proofs. He
                                                            even distributed the individual copies and struggled to
                                                            maintain the publication. Once begun, the magazine never
                                                            stopped; it is now being continued by his disciples in the
                                                            West and is published in nineteen languages.</p>
                                                        <p>Recognizing Śrīla Prabhupāda’s philosophical learning and
                                                            devotion, the Gauḍīya Vaiṣṇava Society honored him in 1947
                                                            with the title “Bhaktivedanta.” In 1950, at the age of
                                                            fifty-four, Śrīla Prabhupāda retired from married life,
                                                            adopting the <em>vānaprastha</em> (retired) order to devote
                                                            more time to his studies and writing. Śrīla Prabhupāda
                                                            traveled to the holy city of Vṛndāvana, where he lived in
                                                            very humble circumstances in the historic medieval temple of
                                                            Rādhā-Dāmodara. There he engaged for several years in deep
                                                            study and writing. He accepted the renounced order of life
                                                            (<em>sannyāsa</em>) in 1959. At Rādhā-Dāmodara, Śrīla
                                                            Prabhupāda began work on his life’s masterpiece: a
                                                            multivolume translation of and commentary on the
                                                            eighteen-thousand-verse <em>Śrīmad-Bhāgavatam (Bhāgavata
                                                                Purāṇa).</em> He also wrote <em>Easy Journey to Other
                                                                Planets.</em></p>
                                                        <p>After publishing three volumes of the <em>Bhāgavatam,</em>
                                                            Śrīla Prabhupāda came to the United States, in 1965, to
                                                            fulfill the mission of his spiritual master. Subsequently,
                                                            His Divine Grace wrote more than sixty volumes of
                                                            authoritative translations, commentaries and summary studies
                                                            of the philosophical and religious classics of India.</p>
                                                        <ul>
                                                            <li>In 1965, when he first arrived by freighter in New York
                                                                City, Śrīla Prabhupāda was practically penniless. It was
                                                                after almost a year of great difficulty that he
                                                                established the International Society for Krishna
                                                                Consciousness in July of 1966. Before his passing away
                                                                on November 14, 1977, he guided the Society and saw it
                                                                grow to a worldwide confederation of more than one
                                                                hundred <em>āśramas,</em> schools, temples, institutes
                                                                and farm communities.</li>
                                                            <li>In 1968, Śrīla Prabhupada created New Vrindaban, an
                                                                experimental Vedic community in the hills of West
                                                                Virginia. Inspired by the success of New Vrindaban, now
                                                                a thriving farm community of more than one thousand
                                                                acres, his students have since founded several similar
                                                                communities in the United States and abroad.</li>
                                                            <li>In 1972, His Divine Grace introduced the Vedic system of
                                                                primary and secondary education in the West by founding
                                                                the Gurukula school in Dallas, Texas. Since then, under
                                                                his supervision, his disciples have established
                                                                children’s schools throughout the United States and the
                                                                rest of the world. As of 1978, there are ten Gurukula
                                                                schools worldwide, with the principal educational center
                                                                now located in Vṛndāvana, India.</li>
                                                            <li>Śrīla Prabhupāda also inspired the construction of
                                                                several large international cultural centers in India.
                                                                The center at Śrīdhāma Māyāpur in West Bengal is the
                                                                site for a planned spiritual city, an ambitious project
                                                                for which construction will extend over the next decade.
                                                                In Vṛndāvana, India, is the magnificent Kṛṣṇa-Balarāma
                                                                Temple and International Guesthouse. There is also a
                                                                major cultural and educational center in Bombay. Other
                                                                centers are planned in a dozen other important locations
                                                                on the Indian subcontinent.</li>
                                                            <li>Śrīla Prabhupāda’s most significant contribution,
                                                                however, is his books. Highly respected by the academic
                                                                community for their authoritativeness, depth and
                                                                clarity, they are used as standard textbooks in numerous
                                                                college courses. His writings have been translated into
                                                                twenty-eight languages. The Bhaktivedanta Book Trust,
                                                                established in 1972 exclusively to publish the works of
                                                                His Divine Grace, has thus become the world’s largest
                                                                publisher of books in the field of Indian religion and
                                                                philosophy.</li>
                                                            <li>In just twelve years, in spite of his advanced age,
                                                                Śrīla Prabhupāda circled the globe fourteen times on
                                                                lecture tours that took him to six continents. In spite
                                                                of such a vigorous schedule, Śrīla Prabhupāda continued
                                                                to write prolifically. His writings constitute a
                                                                veritable library of Vedic philosophy, religion,
                                                                literature and culture.</li>
                                                        </ul>
                                                        <h2>Srila Prabhupada Chronology</h2>
                                                        <ul>
                                                            <li><strong>Birth 1986</strong> : <em>Srila Prabhupada was
                                                                    born Abhay Charan De on 1st September 1896 in
                                                                    Kolkata, West Bengal, India, at about 4pm to father
                                                                    Gaura Mohan De and mother Rajani Devi.</em></li>
                                                            <li><strong>Marriage 1918 : </strong><em>Enters married life
                                                                    with Radharani Datta.</em></li>
                                                            <li><strong>Meets his future spiritual master 1922 :
                                                                </strong><em>Meets for the first time Srila
                                                                    Bhaktisiddhanta Sarasvati Thakura – his future
                                                                    initiating spiritual master – who asks him to preach
                                                                    Lord Chaitanya’s mission in the Western
                                                                    countries.</em></li>
                                                            <li><strong>Visits his spiritual master 1925 :
                                                                </strong><em>Visits Vrindavan (the holy land where Lord
                                                                    Krishna spent his childhood) for the first time and
                                                                    hears more from Srila Bhaktisiddhanta Sarasvati
                                                                    Gosvami.</em></li>
                                                            <li><strong>Receives initiation 1933 : </strong><em>Receives
                                                                    formal initiation from his spiritual master Srila
                                                                    Bhaktisiddhanta Sarasvati Gosvami.</em></li>
                                                            <li><strong>Visits his spiritual master 1935 :
                                                                </strong><em>Travelled to Vrindavan to see his spiritual
                                                                    master, Srila Bhaktisiddhanta Sarasvati Gosvami, who
                                                                    gave him two essential instructions: print books and
                                                                    build temples.</em></li>
                                                            <li><strong>Publishes ‘Back to Godhead’ magazine 1944 :
                                                                </strong><em>Starts writing and publishing ‘Back to
                                                                    Godhead’ magazine.</em></li>
                                                            <li><strong>Receives title ‘Bhaktivedanta’ 1947 :
                                                                </strong><em>Receives the honorary title of
                                                                    ‘Bhaktivedanta’ from his God-brothers in the Gaudiya
                                                                    Math.</em></li>
                                                            <li><strong>Receives title ‘Bhaktivedanta’ 1947 :
                                                                </strong><em>Receives the honorary title of
                                                                    ‘Bhaktivedanta’ from his God-brothers in the Gaudiya
                                                                    Math.</em></li>
                                                            <li><strong>Awarded sannyasa 1959 : </strong><em>Awarded
                                                                    sannyasa (the renounced order of life) in Mathura by
                                                                    one of his God-brothers, His Holiness B.P. Kesava
                                                                    Maharaj.</em></li>
                                                            <li><strong>Voyage to the USA 1965 : </strong><em>Voyage to
                                                                    the USA aboard the Jaladuta ship lasting one month,
                                                                    during which time he suffers two heart attacks.</em>
                                                            </li>
                                                            <li><strong>Arrives in America 1965 : </strong><em>Historic
                                                                    arrival in America. The ship Jaladuta docks at
                                                                    Commonwealth Pier, Boston.</em></li>
                                                            <li><strong>Incorporates the International Society for
                                                                    Krishna consciousness (</strong><a
                                                                    href="https://www.iskcon.org"
                                                                    target="_blank"><strong>ISKCON</strong></a><strong>)
                                                                    1966</strong></li>
                                                            <li><strong>Bhagavad-gita As It Is abridged edition
                                                                    published by Macmillan 1968</strong></li>
                                                            <li><strong>Establishes the Governing Body Commission (GBC)
                                                                    1970 : </strong><em>Srila Prabhupada establishes the
                                                                    Governing Body Commission, the ultimate managing
                                                                    authority of ISKCON.</em></li>
                                                            <li><strong>Establishes the Bhaktivedanta Book Trust
                                                                    (</strong><a href="https://bbt.org/"
                                                                    target="_blank"><strong>BBT</strong></a><strong>)
                                                                    1972</strong></li>
                                                            <li><strong>Sri Chaitanya Charitamrita 1974 :
                                                                </strong><em>Completes the translation of </em><a
                                                                    href="https://vedabase.io/en/library/cc/"
                                                                    target="_blank"><em>Sri Caitanya
                                                                        Caritamrita</em></a><em> into English</em></li>
                                                            <li><strong>Opens Sri Sri Krishna Balarama Temple in
                                                                    Vrindavan 1975 : </strong><em>Later to be his final
                                                                    resting place.</em></li>
                                                            <li><strong>Departure from the material world 1977 :
                                                                </strong><em>At the age of 81, Srila Prahupada left the
                                                                    material world in Vrindavan, India.</em></li>
                                                        </ul>
                                                        <div class="align-center">


                                                            <div
                                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                <div class="field__label visually-hidden">Image</div>
                                                                <div class="field__item">
                                                                    <picture><img
                                                                        sizes="max-width: 576px;"
                                                                            src="{% static 'themes/images/Prabhupad_sig.webp' %}"
                                                                            alt="Prabhupad Sign" />
                                                                    </picture>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/founder-acharya"
                                                        data-a2a-title="Founder Acharya"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Ffounder-acharya&amp;title=Founder%20Acharya"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>