<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Hare Krishna Movement| ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Hare
                                                    Krishna Movement</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="5" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="/sites/default/files/styles/content_hero_banner_phone/public/2023-07/lord_chaitanya_lord_nityananda.jpg?itok=Qcu5rd3S"
                                                            alt="" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <p>The Hare Krishna Movement, officially known as the
                                                            International Society for Krishna Consciousness (ISKCON), is
                                                            a global spiritual and cultural movement rooted in the
                                                            teachings of the Bhagavad Gita and the Srimad Bhagavatam,
                                                            ancient Hindu scriptures.</p>
                                                        <p>The movement was founded in 1966 by His Divine Grace A.C.
                                                            Bhaktivedanta Swami Prabhupada, also known as Srila
                                                            Prabhupada. Srila Prabhupada's mission was to spread the
                                                            teachings of Krishna consciousness and promote spiritual
                                                            awareness, love, and devotion to Lord Krishna.</p>
                                                        <p>The core philosophy of the Hare Krishna Movement is centered
                                                            around the practice of bhakti-yoga, the yoga of devotion and
                                                            loving service. Followers of the movement, known as
                                                            devotees, strive to cultivate a deep and personal
                                                            relationship with Lord Krishna through devotional practices,
                                                            such as mantra meditation, singing of bhajans (devotional
                                                            songs), and the study of sacred scriptures.</p>
                                                        <p>Chanting the Hare Krishna mantra, "<em><strong>Hare Krishna,
                                                                    Hare Krishna, Krishna Krishna, Hare Hare, Hare Rama,
                                                                    Hare Rama, Rama Rama, Hare Hare</strong></em>,"
                                                            holds great significance in the Hare Krishna Movement.
                                                            Devotees believe that through the repetitive chanting of
                                                            this mantra, one can cleanse the heart and attain a state of
                                                            spiritual awakening and connection with Krishna.</p>
                                                        <p>The Hare Krishna Movement promotes a lifestyle based on
                                                            principles of compassion, simplicity, and selfless service.
                                                            Devotees aim to apply spiritual values in all aspects of
                                                            life, including vegetarianism (with a preference for
                                                            lacto-vegetarian food offered to Krishna), non-violence, and
                                                            ethical conduct.</p>
                                                        <p>ISKCON has established numerous temples, ashrams, and centers
                                                            worldwide, where devotees come together for congregational
                                                            worship, spiritual gatherings, and community service. These
                                                            centers serve as places of worship, education, and cultural
                                                            activities, fostering a sense of community and promoting
                                                            spiritual growth.</p>
                                                        <p>The movement also engages in various philanthropic
                                                            activities, including food distribution programs,
                                                            educational initiatives, and humanitarian relief efforts.
                                                            The Hare Krishna Movement places great emphasis on sharing
                                                            Krishna consciousness with others, aiming to spread love,
                                                            peace, and spiritual knowledge throughout society.</p>
                                                        <p>Throughout the years, the Hare Krishna Movement has gained
                                                            recognition for its distinctive spiritual practices, vibrant
                                                            festivals, and its contributions to art, music, and
                                                            literature. The movement's teachings have touched the lives
                                                            of millions of individuals worldwide, inspiring them to lead
                                                            a spiritually conscious and purposeful life.</p>
                                                        <p>Overall, the Hare Krishna Movement encourages individuals to
                                                            embrace devotion, love, and service to Lord Krishna,
                                                            fostering a deep connection with the divine and promoting a
                                                            harmonious and spiritually enriched existence.</p>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/hare-krishna-movement"
                                                        data-a2a-title="Hare Krishna Movement"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Fhare-krishna-movement&amp;title=Hare%20Krishna%20Movement"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>