<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>History of ISKCON| ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">History
                                                    Of ISKCON</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="2" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="/sites/default/files/styles/content_hero_banner_phone/public/2023-07/prabhupad.jpg?itok=aH6qa1lC"
                                                            alt="" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <h2>What is ISKCON</h2>
                                                        <p>International Society for Krishna Consciousness, also
                                                            popularly known as the Hare Krishna movement is a spiritual
                                                            society founded by His Divine Grace A.C.Bhaktivedanta Swami
                                                            Prabhupada in July 1966 in New York to provide a systematic
                                                            worshipping platform. <a
                                                                href="https://www.iskcon.org/">ISKCON </a>belongs to the
                                                            Gaudiya-Vaishnava sampradaya, a monotheistic tradition
                                                            within Vedic culture.<br /><br />The aim of <a
                                                                href="https://www.iskcon.org/">ISKCON</a> is to acquaint
                                                            all people of world with universal principles of
                                                            self-realization and God consciousness so that they may
                                                            derive the highest benefit of spiritual understanding, unity
                                                            and peace.<br /><a href="https://www.iskcon.org/">ISKCON</a>
                                                            follows the teachings of the Vedas and Vedic scriptures,
                                                            including the Bhagavad-gita and Srimad Bhagavatam which
                                                            teach Vaishnavism or devotion to God (Krishna) in His
                                                            Supreme Personal aspect of Sri Sri Radha Krishna. We all are
                                                            part and parcels of Supreme Lord Krishna and we join the
                                                            devotees to serve Krishna.</p>
                                                        <h2>The Beginning</h2>
                                                        <p>In 1965, His Divine Grace <a
                                                                href="https://prabhupada.io/">Abhay Charanaravinda
                                                                Bhaktivedanta Swami Śrīla Prabhupāda</a> left Vrindavan
                                                            behind for spreading the message of Lord Krishna in Western
                                                            countries. He entered Boston with a trunk full of Lord
                                                            Krishna’s books and a negligible amount of money in his
                                                            pocket.</p>
                                                        <p>Initially, he struggled a lot, but within a few days, people
                                                            started noticing him. Some curious people joined him in his
                                                            chanting and lectures, while some started to acquire serious
                                                            concern about his holy mission. He lived in New York until
                                                            the year 1966.</p>
                                                        <p>He had started giving lectures on the sacred Bhagavad Gita
                                                            weekly. In 1966, he established <a
                                                                href="https://www.iskcon.org/">ISKCON</a> in New York
                                                            City successfully.</p>
                                                        <h2>Expansion of Iskcon</h2>
                                                        <p>During the period 1966-1968, more followers joined the sacred
                                                            mission. As a result, he inaugurated temples in cities like
                                                            Los Angeles, Seattle, San Francisco, Santa Fe, Montreal, and
                                                            New Mexico.</p>
                                                        <p>Rath-Yatra festival is the largest and oldest yearly festival
                                                            celebrated in India. The first Rath-Yatra festival was
                                                            organized in San Francisco. However, at present, this
                                                            Rath-Yatra festival is celebrated in different corners of
                                                            the world by the devotees of the <a
                                                                href="https://www.iskcon.org/">ISKCON</a>.</p>
                                                        <p>Between 1969-and 1973, several temples were inaugurated in
                                                            Canada, Europe, Mexico, Africa, South America, and India. A
                                                            supervisory body was also established in the year 1970 to
                                                            supervise society’s overall growth.</p>
                                                        <h2>Establishment of Bhaktivedanta Book Trust</h2>
                                                        <p>From 1970-to 1977, <a
                                                                href="https://www.iskcon.org/">ISKCON</a> created
                                                            several major pilgrimage centers and sites at the Vrndavana
                                                            and Mayapur in India. The largest temple in Mumbai was also
                                                            built by the same name.</p>
                                                        <p>Srila Prabhupada established BBT (<a
                                                                href="https://bbt.org/">Bhaktivedanta Book Trust</a>), a
                                                            publishing house, in 1972. They are one of the biggest
                                                            publishers of Lord Krishna’s books in the contemporary.
                                                            Srila Prabhupada converted over 40-volumes of Krishna
                                                            literature from Sanskrit to English within 1966-to 1977. <a
                                                                href="https://prabhupadabooks.com/">Books</a> like
                                                            ‘Srimad Bhagavatam’ or ‘Bhagavata Purana,’ the ’18-volumes
                                                            of Lord Krishna’s incarnation’s history’, ‘pastimes and
                                                            devotees,’ ‘Sri Caitanya Caritamrita,’ the ‘9-volumes of
                                                            biography and teaching methods of Sri Caitanya Mahaprabhu’
                                                            have been issued by the Bhaktivedanta Book Trust in over 50
                                                            languages.</p>
                                                        <h2>Sri Caitanya Mahaprabhu</h2>
                                                        <p>Around 525 years back, Lord Krishna descended Himself on this
                                                            earth to preach the recitation of the Holy</p>
                                                        <div class="align-right">


                                                            <div
                                                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                                <div class="field__label visually-hidden">Image</div>
                                                                <div class="field__item">
                                                                    <picture>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/tv_1x_1400/public/2023-07/Sri_Caitanya.PNG?itok=jqIdzvuX 1x, /sites/default/files/styles/tv_2x_2800/public/2023-07/Sri_Caitanya.PNG?itok=vAo-3_MV 2x"
                                                                            media="all and (min-width: 1400px)"
                                                                            type="image/png">
                                                                        </source>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/large_desktops_1x_1200/public/2023-07/Sri_Caitanya.PNG?itok=zOIq5Kii 1x, /sites/default/files/styles/large_desktops_2x_2400/public/2023-07/Sri_Caitanya.PNG?itok=_ixNrxiT 2x"
                                                                            media="all and (min-width: 1200px)"
                                                                            type="image/png">
                                                                        </source>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/desktops_1x_992/public/2023-07/Sri_Caitanya.PNG?itok=eluQdu9S 1x, /sites/default/files/styles/desktops_2x_1984/public/2023-07/Sri_Caitanya.PNG?itok=6p9vQ5Mg 2x"
                                                                            media="all and (min-width: 992px)"
                                                                            type="image/png">
                                                                        </source>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/tablets_1x_768/public/2023-07/Sri_Caitanya.PNG?itok=UA37jPqP 1x, /sites/default/files/styles/tablets_2x_1536/public/2023-07/Sri_Caitanya.PNG?itok=qjsECEu6 2x"
                                                                            media="all and (min-width: 768px)"
                                                                            type="image/png">
                                                                        </source>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/mobile_1x_576/public/2023-07/Sri_Caitanya.PNG?itok=fisGR6dC 1x, /sites/default/files/styles/mobile_2x_1152/public/2023-07/Sri_Caitanya.PNG?itok=E8M6wvm3 2x"
                                                                            media="all and (max-width: 576px)"
                                                                            type="image/png">
                                                                        </source>
                                                                        <source
                                                                            srcset="/sites/default/files/styles/mobile_1x_576/public/2023-07/Sri_Caitanya.PNG?itok=fisGR6dC 1x, /sites/default/files/styles/mobile_2x_1152/public/2023-07/Sri_Caitanya.PNG?itok=E8M6wvm3 2x"
                                                                            type="image/png">
                                                                        </source><img
                                                                            src="/sites/default/files/styles/mobile_1x_576/public/2023-07/Sri_Caitanya.PNG?itok=fisGR6dC"
                                                                            alt="Sri Caitanya" />
                                                                    </picture>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <p> Names and how to become a devotee in this Kali-yuga – by
                                                            presenting Himself as a devotee of Lord. This devotee form
                                                            was none other than the great <a
                                                                href="https://en.wikipedia.org/wiki/Chaitanya_Mahaprabhu">Sri
                                                                Caitanya Mahaprabhu</a>, a combined form of Srimati
                                                            Radha and Sri Krishna.</p>
                                                        <p>Later, He popularized the sacred mantra: “Hare Krishna Hare
                                                            Krishna Krishna Krishna Hare Hare, Hare Rama Hare Rama Rama
                                                            Rama Hare Hare.”</p>
                                                        <p>Known as the Hare Krishna movement on the western side, <a
                                                                href="https://www.iskcon.org/">ISKCON</a> is better
                                                            recognized as a monotheistic subdivision of the famous
                                                            Gaudiya Vaishnava religious tradition. Mainly, <a
                                                                href="https://www.iskcon.org/">ISKCON</a> believes in
                                                            the teachings of Lord Krishna.</p>
                                                        <ol>
                                                            <li>Bhaktivedanta Institute was created in 1973 to support
                                                                the Vedas teachings.</li>
                                                            <li>1974 was a crucial year for <a
                                                                    href="https://www.iskcon.org/">ISKCON</a>. They
                                                                started relief programs like food in disaster areas
                                                                globally.</li>
                                                            <li>In 1977, before Srila Prabhupada left his material body,
                                                                <a href="https://www.iskcon.org/">ISKCON</a> had
                                                                successfully established around 108 temples, educational
                                                                communities, centers, and over 10,000 members.</li>
                                                            <li>The whole ‘Hare Krishna Movement’ appeared as a
                                                                revolutionary change in the former Soviet Union in 1989.
                                                            </li>
                                                            <li>Srila Prabhupada published the monthly magazine, Back to
                                                                Godhead, which he called the backbone of his movement.
                                                                At the height of its circulation in the mid seventies,
                                                                over a million copies per issue were sold.</li>
                                                            <li>Srila Prabhupada set up farm communities to teach
                                                                “simple living and high thinking”, emphasizing cow
                                                                protection and dependence on God and nature.</li>
                                                            <li>At present, <a href="https://www.iskcon.org/">ISKCON</a>
                                                                has more than 500 centers globally.<br /> </li>
                                                        </ol>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/history-of-iskcon"
                                                        data-a2a-title="History Of ISKCON"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Fhistory-of-iskcon&amp;title=History%20Of%20ISKCON"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>