<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Our Philosophy | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Our
                                                    Philosophy</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="3" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="{% static 'themes/images/philosophy.jpg' %}"
                                                            alt="" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <blockquote>
                                                            <p>harer nāma harer nāma<br />harer nāmaiva
                                                                kevalam<br />kalau nāsty eva nāsty eva<br />nāsty eva
                                                                gatir anyathā</p>
                                                        </blockquote>
                                                        <p>‘Harinama, Harinama, Harinama is the only and foremost means
                                                            to achieve emancipation. There is no other way, no other
                                                            way, no other way in this age of Kali.’</p>
                                                        <p>The doctrines of the International Society for Krishna
                                                            Consciousness (ISKCON), are derived from ancient Vaishnava
                                                            scriptures such as Srimad-Bhagavatam (commentary on the
                                                            Vedas), Srimad Bhagavad-gita (Lord Krishna’s teachings), and
                                                            Sri Caitanya-Charitamrta (Lord Chaitanya’s teachings)</p>
                                                        <h2>Origin</h2>
                                                        <p>The basic tenet of these teachings is that each living entity
                                                            is an eternal spirit soul and has a distinct relationship
                                                            with God, Krishna. Lord Chaitanya distinguished Gaudiya
                                                            Vaishnavism from other sampradayas by understanding that the
                                                            spirit soul is “inconceivably one and different” from the
                                                            Supreme Lord: acintya bheda tattva. Both are of the same
                                                            spiritual nature, but the Lord is unlimited in quantity, and
                                                            the spirit soul is his tiny servant.</p>
                                                        <h2>As explained by Srila Prabhupada</h2>
                                                        <p>The basic Hare Krishna beliefs can be summarized as follow :
                                                        </p>
                                                        <ol>
                                                            <li><strong>Beyond body soul exists : </strong>The very
                                                                first step in self-realization is realizing one’s
                                                                identity as separate from the body. “I am not this body
                                                                but am spirit soul” is an essential realization for
                                                                anyone who wants to transcend death and enter into the
                                                                spiritual world beyond. It is not simply a matter of
                                                                saying “I am not this body,” but of actually realizing
                                                                it.</li>
                                                            <li><strong>One life is not everything, reinacarnation
                                                                    happens :</strong> Remembrances of past lives can be
                                                                fascinating, but the real goal of understanding
                                                                reincarnation is to become free from the painful cycle
                                                                of birth in death. Srila Prabhupada warns, This is not a
                                                                very good business–to die and take birth again. We know
                                                                that when we die we’ll have to enter again into the womb
                                                                of a mother–and nowadays mothers are killing the
                                                                children within the womb.</li>
                                                            <li><strong>Beyond material world spiritual world exists :
                                                                </strong>In the material world there are so many
                                                                inconveniences. So spiritual world, there is no
                                                                inconvenience. Inebriety. It is a reflection of the
                                                                spiritual world, but there are so many difficulties
                                                                here. Therefore it is called material world.</li>
                                                            <li><strong>Beyond living entity Supreme controller exists
                                                                    :</strong> Īśvaraḥ paramaḥ kṛṣṇaḥ: “The supreme
                                                                controller is Kṛṣṇa.” Sac-cid-ānanda-vigrahaḥ. This is
                                                                our definition of God. God means supreme controller.
                                                                Supreme controller means who is not controlled by
                                                                anyone, but He is controller of everyone. That is God.
                                                            </li>
                                                            <li><strong>If God exists, how to connect with Him :
                                                                </strong>As soon as one understands his identity, his
                                                                relationship with God, then immediately he becomes
                                                                happy. We are so full of miseries because we have
                                                                identified ourselves with the material world. Therefore
                                                                we are unhappy. Anxieties and fearfulness are due to our
                                                                misidentifying with the material world. The sankirtana
                                                                movement is the easiest process for self-realization (
                                                                bhakti yoga ) because it cleanses the heart. ‘Harinama,
                                                                Harinama, Harinama is the only and foremost means to
                                                                achieve emancipation. There is no other way, no other
                                                                way, no other way in this age of Kali.’</li>
                                                            <li><strong>Process of Bhakti Yoga : </strong>A pure devotee
                                                                has no plans other than those for the Lord’s service.
                                                                “One can execute the process of bhakti-yoga successfully
                                                                with full-hearted enthusiasm, perseverance, and
                                                                determination, by following the prescribed duties in the
                                                                association of devotees and by engaging completely in
                                                                activities of goodness.</li>
                                                        </ol>
                                                        <h2>Founder’s Statement</h2>
                                                        <p>Kolkata-born A.C. Bhakitivedanta Swami (1896-1977), also
                                                            known as Srila Prabhupada, who founded The Hare Krishna
                                                            Movement™ in New York in 1966, wrote a statement that was
                                                            used in the religion’s initial incorporation. This statement
                                                            is still relevant for ISKCON, and serves as a Mission
                                                            Statement.</p>
                                                        <p>It reads as follows:</p>
                                                        <ol>
                                                            <li>To systematically propagate spiritual knowledge to
                                                                society at large and to educate all people in the
                                                                techniques of spiritual life in order to check the
                                                                imbalance of values in life and to achieve real unity
                                                                and peace in the world.</li>
                                                            <li>To propagate a consciousness of Krishna (God), as it is
                                                                revealed in the great scriptures of India, especially
                                                                Bhagavad-gita andSrimad-Bhagavatam. We accept the
                                                                principle of transmigration of the soul (reincarnation).
                                                            </li>
                                                            <li>To bring the members of the Society together with each
                                                                other and nearer to Krishna, the prime entity, thus
                                                                developing the idea within the members, and humanity at
                                                                large, that each soul is part and parcel of the quality
                                                                of Godhead (Krishna).</li>
                                                            <li>To teach and encourage the sankirtana movement,
                                                                congregational chanting of the holy name of God, as
                                                                revealed in the teachings of Lord Sri Caitanya
                                                                Mahaprabhu.</li>
                                                            <li>To erect for the members and for society at large a holy
                                                                place of transcendental pastimes dedicated to the
                                                                personality of Krishna.</li>
                                                            <li>To bring the members closer together for the purpose of
                                                                teaching a simpler, more natural way of life.</li>
                                                            <li>With a view towards achieving the aforementioned
                                                                purposes, to publish and distribute periodicals,
                                                                magazines, books and other writings and to create
                                                                websites that help realize these purposes.</li>
                                                        </ol>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/our-philosophy"
                                                        data-a2a-title="Our Philosophy"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Four-philosophy&amp;title=Our%20Philosophy"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>