<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Resources | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Resources</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="10" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <h3>Audio &amp; Video</h3>
                                                        <ul>
                                                            <li><a href="http://kksongs.org/" target="_blank">KK
                                                                    Songs</a> - Vaishnava songs and kirtans</li>
                                                            <li><a href="https://prabhupadavani.org/"
                                                                    target="_blank">https://prabhupadavani.org/</a></li>
                                                            <li><a href="http://audio.iskcondesiretree.com/"
                                                                    target="_blank">audio.iskcondesiretree.com</a> -
                                                                Audio collection of 148,000 plus mp3s</li>
                                                            <li><a href="https://www.youtube.com/user/iskcondesiretree"
                                                                    target="_blank">https://www.youtube.com/user/iskcondesiretree</a>
                                                            </li>
                                                            <li><a href="http://www.srimadbhagavatamclass.com/"
                                                                    target="_blank">http://www.srimadbhagavatamclass.com/</a>
                                                            </li>
                                                        </ul>
                                                        <h3>Srila Prabhupada Books</h3>
                                                        <ul>
                                                            <li><a href="https://www.bbtmedia.com"
                                                                    target="_blank">www.bbtmedia.com</a></li>
                                                            <li><a href="https://www.vedabase.io"
                                                                    target="_blank">www.vedabase.io</a></li>
                                                            <li><a href="https://www.gitabase.com"
                                                                    target="_blank">www.gitabase.com</a></li>
                                                            <li><a href="http://prabhupada.io/"
                                                                    target="_blank">www.prabhupada.io</a></li>
                                                            <li><a href="http://www.prabhupada.net/"
                                                                    target="_blank">www.prabhupada.net</a></li>
                                                            <li><a href="http://www.founderacharya.com/"
                                                                    target="_blank">www.founderacharya.com</a></li>
                                                        </ul>
                                                        <h3>Vaisnava Calendar</h3>
                                                        <ul>
                                                            <li><a href="http://www.vaisnavacalendar.com/188"
                                                                    target="_blank">www.vaisnavacalendar.com</a></li>
                                                            <li><a href="https://harekrishnacalendar.com/"
                                                                    target="_blank">www.harekrishnacalendar.com</a></li>
                                                            <li><a href="http://www.gopal.home.sk/gcal/"
                                                                    target="_blank">TOVP(Temple Of Vedic Planetarium,
                                                                    Mayapur) Calendar​</a></li>
                                                        </ul>
                                                        <h3>Important Websites / Useful links</h3>
                                                        <ul>
                                                            <li><a href="https://www.iskcon.org"
                                                                    target="_blank">www.iskcon.org</a> - The
                                                                International Society for Krishna Consciousness (ISKCON)
                                                                official website.</li>
                                                            <li><a href="https://gbc.iskcon.org/" target="_blank">The
                                                                    Governing Body Commission</a></li>
                                                            <li><a href="https://www.iskconcommunications.org/"
                                                                    target="_blank">www.iskconcommunications.org</a> -
                                                                ISKCON Communications<em> </em>works to create and
                                                                sustain favorable environments for advancing the goals
                                                                of the Krishna consciousness movement</li>
                                                            <li><a href="https://www.mayapur.com/"
                                                                    target="_blank">Maypur</a> - The Spiritual Capital
                                                                of the World</li>
                                                            <li><a href="https://tovp.org/" target="_blank">TOVP</a> -
                                                                Temple of the Vedic Planetarium</li>
                                                            <li><a href="https://www.krishna.com"
                                                                    target="_blank">www.krishna.com</a></li>
                                                            <li><a href="https://www.vedabase.io"
                                                                    target="_blank">www.vedabase.io</a> - All scriptures
                                                                in digital copy.</li>
                                                            <li><a href="https://iskconnews.org/"
                                                                    target="_blank">www.iskconnews.org</a> - ISKCON news
                                                                and latest article.</li>
                                                            <li><a href="https://iskcononline.com/"
                                                                    target="_blank">www.iskcononline.com</a></li>
                                                            <li><a href="http://www.dandavats.com/"
                                                                    target="_blank">www.Dandavats.com</a> - Dandavats is
                                                                an independently managed web site dedicated to the
                                                                pursuit of knowledge and information related to Krishna
                                                                conscious vision, activities and developments worldwide.
                                                            </li>
                                                            <li><a href="https://www.jayapatakaswami.com/"
                                                                    target="_blank">HH Jayapataka Swami Maharaj</a> -
                                                                News and topics related to Jayapataka Swami Maharaja
                                                            </li>
                                                            <li><a href="https://www.thespiritualscientist.com/"
                                                                    target="_blank">www.thespiritualscientist.com</a> -
                                                                The Spiritual Scientist - Integrating the scientific
                                                                method &amp; spiritual vision for all round human
                                                                growth.</li>
                                                            <li><a href="https://girirajswami.com/blog/"
                                                                    target="_blank">Giriraj Swami</a> - News and topics
                                                                related to Giriraj Swami Maharaja</li>
                                                            <li><a href="https://www.kksblog.com/"
                                                                    target="_blank">KKSBlog</a> - KKSBlog.com is
                                                                dedicated to bringing you the latest news, updates,
                                                                quotes, transcripts, audio &amp; video recordings and
                                                                other media from HH Kadamba Kanana Swami and HH
                                                                Jayadvaita Swami.</li>
                                                            <li><a href="https://gitadaily.com/" target="_blank">Gita
                                                                    Daily</a> - Introductory Articles Quotes inspired by
                                                                Gita verses</li>
                                                            <li><a href="https://www.harekrsnatv.com/"
                                                                    target="_blank">harekrsnatv.com</a> - Watch ISKCON
                                                                TV<em> </em>Live 24*7 </li>
                                                            <li><a href="http://iskcondesiretree.com/"
                                                                    target="_blank">iskcondesiretree.com</a> - ISKCON
                                                                DesireTree website - Serving since 17 years +</li>
                                                            <li><a href="http://bhakticourse.com"
                                                                    target="_blank">bhakticourse.com</a> - online
                                                                courses ranging from the fundamentals of spirituality to
                                                                the advanced concepts of Gaudiya Vaishnavism.</li>
                                                            <li><a href="http://centers.iskcondesiretree.com/"
                                                                    target="_blank">centers.iskcondesiretree.com</a> -
                                                                Listing more than 500 ISKCON centers</li>
                                                            <li><a href="http://vaishnavsongs.iskcondesiretree.com/"
                                                                    target="_blank">vaishnavsongs.iskcondesiretree.com</a>
                                                                - 800+ vaishnava songs</li>
                                                            <li><a href="http://gaudiyahistory.iskcondesiretree.com/"
                                                                    target="_blank">gaudiyahistory.iskcondesiretree.com</a>
                                                                - Biopgraphies, audio, video of various vaishnavas</li>
                                                            <li><a href="http://howicame.com/"
                                                                    target="_blank">howicame.com</a> - Stories of how
                                                                devotees came to Krishna Consciousness</li>
                                                            <li><a href="http://wallpapers.iskcondesiretree.com/"
                                                                    target="_blank">wallpapers.iskcondesiretree.com</a>
                                                                - 45,000+ images</li>
                                                            <li><a href="http://iskconbookdistribution.com/"
                                                                    target="_blank">iskconbookdistribution.com</a> - For
                                                                ISKCON book distribution ministry</li>
                                                            <li><a href="http://backtogodhead.in/"
                                                                    target="_blank">backtogodhead.in</a> - Official BTG
                                                                (India website)</li>
                                                            <li><a href="http://harekrishnacalendar.com/"
                                                                    target="_blank">harekrishnacalendar.com</a> -
                                                                Vaishnava calendar</li>
                                                            <li><a href="http://harekrishnajapa.com/"
                                                                    target="_blank">harekrishnajapa.com</a> - Japa
                                                                website</li>
                                                            <li><a href="http://bhagavadgitaclass.com/"
                                                                    target="_blank">bhagavadgitaclass.com</a> - Lectures
                                                                for each sloka of Srimad Bhagavad Gita – As It Is</li>
                                                            <li><a href="http://ebooks.iskcondesiretree.com/"
                                                                    target="_blank">ebooks.iskcondesiretree.com</a> -
                                                                Collection of E - books</li>
                                                            <li><a href="http://food.iskcondesiretree.com/"
                                                                    target="_blank">food.iskcondesiretree.com</a> - More
                                                                than 1500 recipes</li>
                                                            <li><a href="http://games.iskcondesiretree.com/"
                                                                    target="_blank">games.iskcondesiretree.com</a> - For
                                                                engaging kids in Krishna consciousness</li>
                                                            <li><a href="http://holydham.com/"
                                                                    target="_blank">holydham.com</a> - Details of
                                                                various holy places</li>
                                                            <li><a href="http://info.iskcondesiretree.com/"
                                                                    target="_blank">info.iskcondesiretree.com</a> -
                                                                Spiritual FAQs</li>
                                                            <li><a href="http://gurukul.iskcondesiretree.com/"
                                                                    target="_blank">gurukul.iskcondesiretree.com</a> -
                                                                Children content </li>
                                                            <li><a href="http://kids.iskcondesiretree.com/"
                                                                    target="_blank">kids.iskcondesiretree.com</a> -
                                                                Downloads for kids</li>
                                                            <li><a href="http://links.iskcondesiretree.com/"
                                                                    target="_blank">links.iskcondesiretree.com</a> -
                                                                Listing more than 1000 ISKCON related websites</li>
                                                            <li><a href="http://names.iskcondesiretree.com/"
                                                                    target="_blank">names.iskcondesiretree.com</a> -
                                                                More than 30,000 diksha name collection</li>
                                                            <li><a href="http://presentations.iskcondesiretree.com/"
                                                                    target="_blank">presentations.iskcondesiretree.com</a>
                                                                - More than 1000 ppts for preaching</li>
                                                            <li><a href="http://quiz.iskcondesiretree.com/"
                                                                    target="_blank">quiz.iskcondesiretree.com</a> - More
                                                                than 6000 multiple choice questions</li>
                                                            <li><a href="http://quotes.iskcondesiretree.com/"
                                                                    target="_blank">quotes.iskcondesiretree.com</a> -
                                                                Quotes collections (test &amp; images)</li>
                                                            <li><a href="http://radhagopinathmedia.com/"
                                                                    target="_blank">radhagopinathmedia.com</a> - ISKCON
                                                                Chowpatty live temple broadcasting</li>
                                                            <li><a href="http://ringtones.iskcondesiretree.com/"
                                                                    target="_blank">ringtones.iskcondesiretree.com</a> -
                                                                Ringtones for your mobile phone</li>
                                                            <li><a href="http://srimadbhagavatamclass.com/"
                                                                    target="_blank">srimadbhagavatamclass.com</a> - More
                                                                than 30,000 audio classes sorted verse wise</li>
                                                            <li><a href="http://vaishnavaetiquette.com/"
                                                                    target="_blank">vaishnavaetiquette.com</a> - For
                                                                H.H. Bhakti Charu Maharaj</li>
                                                            <li><a href="http://video.iskcondesiretree.com/"
                                                                    target="_blank">video.iskcondesiretree.com</a> -
                                                                10,000+ devotional videos</li>
                                                            <li><a href="http://comics.iskcondesiretree.com/"
                                                                    target="_blank">comics.iskcondesiretree.com</a> -
                                                                More than 300 comics made by us</li>
                                                        </ul>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/resources"
                                                        data-a2a-title="Resources"><a class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Fresources&amp;title=Resources"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>