<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Temple Schedule | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title"><span
                                                    class="field field--name-title field--type-string field--label-hidden">Temple
                                                    Schedule</span>
                                            </h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">


                                            <article data-history-node-id="6" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header>


                                                </header>
                                                <div class="node__content clearfix">

                                                    <div
                                                        class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                                                        <img sizes="(min-width:1500px) 1500px, 100vw"
                                                            src="/sites/default/files/styles/content_hero_banner_phone/public/2023-09/temple_arati.jpeg?itok=lXhK8diL"
                                                            alt="" />


                                                    </div>

                                                    <div
                                                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <table
                                                            class="table table-striped table-hover table-bordered border border-1 border-dark-subtle">
                                                            <thead class="table-dark">
                                                                <tr>
                                                                    <th>Timings</th>
                                                                    <th>Activity</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>05:00 AM</td>
                                                                    <td>Mangal Arati. First ceremony of the day.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>07:30 AM</td>
                                                                    <td>Shringar Arati</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>08:00 AM</td>
                                                                    <td>Srimad Bhagavatam Discourses</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>08:30 AM</td>
                                                                    <td>Daily Darshan open for Devotees</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>12:30 PM</td>
                                                                    <td>Raj Bhoga Arati</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>01: 00 PM</td>
                                                                    <td>Darshan Closes</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>04: 30 PM</td>
                                                                    <td>Daily Darshan open for Devotees</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>06: 15 PM</td>
                                                                    <td>Tulasi Arati</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>06: 30 PM</td>
                                                                    <td>Sandhya Arati</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>07: 00 PM</td>
                                                                    <td>Bhagavad Gita Class</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>08: 15 PM</td>
                                                                    <td>Shayan Arati</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>08: 30 PM</td>
                                                                    <td>Darshan Closes</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/who-we-are/temple-schedule"
                                                        data-a2a-title="Temple Schedule"><a
                                                            class="a2a_button_facebook"></a><a
                                                            class="a2a_button_whatsapp"></a><a
                                                            class="a2a_button_email"></a><a
                                                            class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fwho-we-are%2Ftemple-schedule&amp;title=Temple%20Schedule"></a></span>
                                                </div>
                                            </article>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>