<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Food for Life | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}
        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span
                          class="field field--name-title field--type-string field--label-hidden">Food for Life
                          &amp; Prasadam Service</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="19" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img sizes="(min-width:1500px) 1500px, 100vw"
                              src="/sites/default/files/styles/content_hero_banner_phone/public/2023-07/prasad_1_0.jpg?itok=Ii0KjawY"
                              alt="" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <blockquote>
                              <p>yat karosi yad asnasi<br />yaj juhosi dadasi yat<br />yat tapasyasi kaunteya<br />tat
                                kurusva mad-arpanam</p>
                            </blockquote>
                            <p>“Oh son of Kunti, all that you do, all that you eat, all that you offer and give away, as
                              well as all austerities that you may perform, should be done as an offering unto me.”
                              (<em>Lord Krishna Bhagavad Gita 9.27) </em></p>
                            <h3>Govinda’s Karma Free Prasadam!</h3>
                            <p><strong>Govinda’s Prasadam</strong> is part of a worldwide chain of Restaurants opened by
                              the International Society for Krishna Consciousness (ISKCON). Popularly known as the Hare
                              Krishna movement, ISKCON is a cultural movement dedicated to the re-spiritualisation of
                              society. An important part of this mission is the distribution of sanctified foodstuffs,
                              known as<strong> “</strong><a href="https://back2godhead.com/lord-krishnas-prasadam/"
                                target="_blank"><strong>Krishna-prasad</strong></a><strong>”</strong>, which is pure
                              vegetarian food nicely prepared and offered in devotion to Lord Krishna, the Supreme
                              Personality of Godhead. By this process the food is sanctified and one who eats it becomes
                              spiritually benefited. By regularly taking Krishna-prasad one will feel an upliftment of
                              spirit and a diminishing material anxiety.<strong> Govindas</strong> vegetarian
                              restaurants serve<strong> only </strong><a
                                href="https://krishna.org/prasadam-what-is-it-and-why-we-should-not-eat-anything-else/"
                                target="_blank"><strong>Krishna-prasad</strong></a>, <strong>expertly prepared</strong>
                              with love for the pleasure of Sri Krishna. We hope you enjoy your meal and also appreciate
                              <strong>the unique spiritual experience</strong> of eating Krishna-prasad.</p>
                            <h3>What is karma-free food?</h3>
                            <p>The Sanskrit word karma means “action”, or more specifically, any material action that
                              brings a reaction that binds us to the material world. Although the idea of karma is
                              generally associated with eastern philosophy, many people in the West are also coming to
                              understand that karma is a natural principle, like time or gravity and no less
                              inescapable. For every action there is a reaction. According to the law of karma, if we
                              cause pain and suffering to other living beings, we must endure pain and suffering in
                              return, both individually and collectively. We reap what we sow, in this life and the
                              next.</p>
                            <h3>Why Govinda’s Kitchen only offers Vegetarian Food?</h3>
                            <p>According to Hare Krishna Movement of ISKCON, the cooking art is considered as a sacred
                              experience. ISKCON believes that the preparation of the food should be based on the
                              principles of non-violence and healthy living. Therefore, the devotees of Lord Krishna
                              promote a vegetarian diet which does not include meat, eggs and fishes. It has also been
                              mentioned in the sacred Bhagwad Gita that Lord Krishna accepts any food offered to him
                              with devotion and love, whether it is a leaf, a fruit, a flower, or water (BG 9.26). If we
                              stop killing animals, it can definitely reduce our karmic debt. So, this is how Govinda’s
                              kitchen promotes vegetarianism by offering only vegetarian dishes at their restaurant.
                              Come to Govinda’s restaurant and get a wide range of 100% healthy and delicious vegetarian
                              food.</p>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://iskconbangalore.co.in/services/govindas-prasadam"
                            data-a2a-title="Govinda’s Prasadam &amp; Catering Service"><a
                              class="a2a_button_facebook"></a><a class="a2a_button_whatsapp"></a><a
                              class="a2a_button_email"></a><a class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fservices%2Fgovindas-prasadam&amp;title=Govinda%E2%80%99s%20Prasadam%20%26%20Catering%20Service"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

  </div>
  {% include 'body_script.html' %}
</body>

</html>