<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Food for Life | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}
        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span
                          class="field field--name-title field--type-string field--label-hidden">Food for life</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="230" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img
                              srcset="{% static 'themes/images/ffl.jpg' %} 576w, {% static 'themes/images/ffl.jpg' %} 1280w, {% static 'themes/images/ffl.jpg' %} 1500w"
                              sizes="(min-width:1500px) 1500px, 100vw"
                              src="{% static 'themes/images/ffl.jpg' %}"
                              alt="Food for life" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>Hare Krishna 🙏🏻</p>
                            <p>Food for Life (FFL) is the world’s largest vegetarian food distribution program serving
                              millions of meals daily, with projects in over 60 countries. With roots in the Vaishnava
                              culture of charity and the distribution of pure sattvic food to all, the project is a
                              modern day revival of the ancient culture of hospitality and a belief in the equality of
                              all beings. Food For Life has been lauded by The New York Times and government relief
                              agencies worldwide for its efforts worldwide.</p>
                            <div class="align-center">


                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                <div class="field__item">
                                  <picture>
                                    <source
                                      srcset="/sites/default/files/styles/tv_1x_1400/public/2025-02/foodforlife_3.jpeg?itok=tJErfbmk 1x, /sites/default/files/styles/tv_2x_2800/public/2025-02/foodforlife_3.jpeg?itok=JC0uwSgB 2x"
                                      media="all and (min-width: 1400px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/large_desktops_1x_1200/public/2025-02/foodforlife_3.jpeg?itok=vIbnCoXB 1x, /sites/default/files/styles/large_desktops_2x_2400/public/2025-02/foodforlife_3.jpeg?itok=BfxeKrGn 2x"
                                      media="all and (min-width: 1200px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/desktops_1x_992/public/2025-02/foodforlife_3.jpeg?itok=9rK1ZnOo 1x, /sites/default/files/styles/desktops_2x_1984/public/2025-02/foodforlife_3.jpeg?itok=Dv3uJfG4 2x"
                                      media="all and (min-width: 992px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/tablets_1x_768/public/2025-02/foodforlife_3.jpeg?itok=3u0DQUZe 1x, /sites/default/files/styles/tablets_2x_1536/public/2025-02/foodforlife_3.jpeg?itok=EIkwYy4Y 2x"
                                      media="all and (min-width: 768px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_3.jpeg?itok=Q2GWMaur 1x, /sites/default/files/styles/mobile_2x_1152/public/2025-02/foodforlife_3.jpeg?itok=IiQc4ff5 2x"
                                      media="all and (max-width: 576px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_3.jpeg?itok=Q2GWMaur 1x, /sites/default/files/styles/mobile_2x_1152/public/2025-02/foodforlife_3.jpeg?itok=IiQc4ff5 2x"
                                      type="image/jpeg">
                                    </source><img
                                      src="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_3.jpeg?itok=Q2GWMaur"
                                      alt="" />
                                  </picture>
                                </div>
                              </div>

                            </div>
                            <p>Srila Prabhupada, ISKCON’s Founder-acharya, is the inspiration behind Food for Life. He
                              stated in 1972 that “No one within ten miles of an ISKCON temple should go hungry.” Since
                              that time ISKCON devotees have expanded a global network of free food restaurants, mobile
                              services and relief programs establishing daily delivery routes in many large cities
                              around the world.</p>
                            <div class="align-center">


                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                <div class="field__item">
                                  <picture>
                                    <source
                                      srcset="/sites/default/files/styles/tv_1x_1400/public/2025-02/foodforlife_1.jpeg?itok=5aXbG5qc 1x, /sites/default/files/styles/tv_2x_2800/public/2025-02/foodforlife_1.jpeg?itok=1PCW2w1P 2x"
                                      media="all and (min-width: 1400px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/large_desktops_1x_1200/public/2025-02/foodforlife_1.jpeg?itok=9zzEQR1a 1x, /sites/default/files/styles/large_desktops_2x_2400/public/2025-02/foodforlife_1.jpeg?itok=A_-_4prx 2x"
                                      media="all and (min-width: 1200px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/desktops_1x_992/public/2025-02/foodforlife_1.jpeg?itok=NFEkFOoA 1x, /sites/default/files/styles/desktops_2x_1984/public/2025-02/foodforlife_1.jpeg?itok=7GA2b1Ej 2x"
                                      media="all and (min-width: 992px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/tablets_1x_768/public/2025-02/foodforlife_1.jpeg?itok=KvEjI4Dq 1x, /sites/default/files/styles/tablets_2x_1536/public/2025-02/foodforlife_1.jpeg?itok=agwetjT5 2x"
                                      media="all and (min-width: 768px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_1.jpeg?itok=EBUeyaYJ 1x, /sites/default/files/styles/mobile_2x_1152/public/2025-02/foodforlife_1.jpeg?itok=Atq0eqi6 2x"
                                      media="all and (max-width: 576px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_1.jpeg?itok=EBUeyaYJ 1x, /sites/default/files/styles/mobile_2x_1152/public/2025-02/foodforlife_1.jpeg?itok=Atq0eqi6 2x"
                                      type="image/jpeg">
                                    </source><img
                                      src="/sites/default/files/styles/mobile_1x_576/public/2025-02/foodforlife_1.jpeg?itok=EBUeyaYJ"
                                      alt="" />
                                  </picture>
                                </div>
                              </div>

                            </div>
                            <p>At ISKCON Seshadripuram, the ISKCON volunteers prepares the food in a quality
                              environment, and this sanctified food is fed to different needy people such as disabled
                              men, women, school children, Old age homes and general workers, etc. Be part of our
                              community to serve the society.</p>
                            <p>Want to know more about Food distrubution <a href="/donation/annadana-seva"
                                target="_blank" data-entity-type="node"
                                data-entity-uuid="d439e341-2e05-4652-8ed2-a66f3bc20f9c"
                                data-entity-substitution="canonical" title="Annadana Seva (Food for Life)">please clik
                                here</a><a data-entity-type="node"
                                data-entity-uuid="d439e341-2e05-4652-8ed2-a66f3bc20f9c"
                                data-entity-substitution="canonical" href="/donation/annadana-seva"
                                title="Annadana Seva (Food for Life)">.</a></p>
                            <div class="col-xs-12 col-sm-12 col-md-12" style="margin:0 auto;">
                              <p><strong>Please contribute your donation by</strong></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                              <p><a class="btn btn-primary btn-sm active" href="https://donateiskcon.com/khX6PYBAO">CLICK HERE
                                  TO DONATE</a>
                                <o:p></o:p><br /><br />
                              </p>
                            </div>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://www.iskcongorakhpur.com/services/food-for-life"
                            data-a2a-title="Food for life"><a class="a2a_button_facebook"></a><a
                              class="a2a_button_whatsapp"></a><a class="a2a_button_email"></a><a
                              class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fwww.iskcongorakhpur.com%2Fservices%2Ffood-for-life&amp;title=Food%20for%20life"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

  </div>
  {% include 'body_script.html' %}
</body>

</html>