<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Harinam Sankirtan| ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}

        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span class="field field--name-title field--type-string field--label-hidden">
                          Harinam Sankirtana</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="12" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img sizes="(min-width:1500px) 1500px, 100vw"
                              src="/sites/default/files/styles/content_hero_banner_phone/public/2023-07/Harinam-Sankirtana.jpg?itok=Fp7E0j7O"
                              alt="" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>Harinam Sankirtana is a central practice within the Hare Krishna Movement (<a
                                href="https://www.ISKCON.org">ISKCON</a>) and other <a
                                href="https://www.iskcon.org/about-us/vaishnavism.php">Vaishnava</a> traditions. It
                              refers to the congregational chanting of the holy names of God, particularly the chanting
                              of the Hare Krishna mantra: "Hare Krishna, Hare Krishna, Krishna Krishna, Hare Hare, Hare
                              Rama, Hare Rama, Rama Rama, Hare Hare."</p>
                            <p><a
                                href="https://www.youtube.com/watch?v=17t__hX_EjQ&amp;ab_channel=RadheshyamDasDevotionalvideos">Harinam
                                Sankirtana</a> is considered a powerful spiritual practice that helps participants
                              connect with the divine and experience a deep sense of spiritual awakening and joy. The
                              practice involves a group of devotees coming together to chant the holy names in unison,
                              often accompanied by musical instruments such as harmoniums, mridangas (drums), and
                              kartals (cymbals).</p>
                            <p>The chanting is done with a mood of devotion, expressing love, and seeking a personal
                              connection with the Supreme Lord, Krishna. The rhythmic repetition of the mantra helps to
                              calm the mind, purify the heart, and elevate consciousness to a higher spiritual plane.
                            </p>
                            <p><a
                                href="https://www.facebook.com/sjmblr/videos/kirtan-at-palace-ground-iskcon-seshadripuram/7424908050912508/">Harinam
                                Sankirtana</a> is not limited to temple settings but can be performed in various public
                              places, such as streets, parks, or public gatherings. Devotees engage in this practice to
                              share the spiritual vibrations of the holy names with others and invite them to
                              participate in the chanting. By doing so, they aim to spread peace, love, and spiritual
                              awareness in the world.</p>
                            <p>The practice of <a
                                href="https://www.youtube.com/watch?v=ishuFbmHNYs&amp;ab_channel=AmarendraD%C4%81saOfficial">Harinam
                                Sankirtana</a> has roots in ancient Indian scriptures and is often associated with Lord
                              Chaitanya Mahaprabhu, a 16th-century saint and incarnation of Lord Krishna. Lord Chaitanya
                              promoted the congregational chanting of the holy names as the most effective means of
                              spiritual realization in the current age, known as the Age of Kali.</p>
                            <div class="align-left">


                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                <div class="field__item">
                                  <picture>
                                    <source
                                      srcset="/sites/default/files/styles/tv_1x_1400/public/2023-07/nagar_kirtan.jpg?itok=RfkE1JP- 1x, /sites/default/files/styles/tv_2x_2800/public/2023-07/nagar_kirtan.jpg?itok=IcKK-F1_ 2x"
                                      media="all and (min-width: 1400px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/large_desktops_1x_1200/public/2023-07/nagar_kirtan.jpg?itok=tKH75Sjx 1x, /sites/default/files/styles/large_desktops_2x_2400/public/2023-07/nagar_kirtan.jpg?itok=fGh_vfeg 2x"
                                      media="all and (min-width: 1200px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/desktops_1x_992/public/2023-07/nagar_kirtan.jpg?itok=iUMlBK7X 1x, /sites/default/files/styles/desktops_2x_1984/public/2023-07/nagar_kirtan.jpg?itok=ke-IQRlS 2x"
                                      media="all and (min-width: 992px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/tablets_1x_768/public/2023-07/nagar_kirtan.jpg?itok=SBA4md8D 1x, /sites/default/files/styles/tablets_2x_1536/public/2023-07/nagar_kirtan.jpg?itok=FfPVGLoP 2x"
                                      media="all and (min-width: 768px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2023-07/nagar_kirtan.jpg?itok=XqwXRpzM 1x, /sites/default/files/styles/mobile_2x_1152/public/2023-07/nagar_kirtan.jpg?itok=zWHr192r 2x"
                                      media="all and (max-width: 576px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="/sites/default/files/styles/mobile_1x_576/public/2023-07/nagar_kirtan.jpg?itok=XqwXRpzM 1x, /sites/default/files/styles/mobile_2x_1152/public/2023-07/nagar_kirtan.jpg?itok=zWHr192r 2x"
                                      type="image/jpeg">
                                    </source><img
                                      src="/sites/default/files/styles/mobile_1x_576/public/2023-07/nagar_kirtan.jpg?itok=XqwXRpzM"
                                      alt="" />
                                  </picture>
                                </div>
                              </div>

                            </div>
                            <p>Through Harinam Sankirtana, devotees express their devotion, surrender, and desire to
                              serve the Supreme Lord. They believe that by chanting the holy names, they are directly
                              connecting with Krishna, experiencing His presence, and purifying their consciousness. The
                              practice is seen as a powerful means to develop a loving relationship with God and attain
                              spiritual liberation.</p>
                            <p>Participating in Harinam Sankirtana not only benefits the individuals engaged in the
                              practice but also spreads a positive spiritual influence to those who hear the chanting.
                              It is believed to create a spiritual atmosphere, purify the surroundings, and inspire
                              others to connect with their own spiritual essence.</p>
                            <p>Overall, Harinam Sankirtana holds a significant place within the Hare Krishna Movement
                              and Vaishnava traditions, serving as a profound devotional practice that promotes
                              spiritual growth, unity, and the spreading of divine love and consciousness.</p>
                            <p>Join us Every Sunday, We Host <a
                                href="https://www.youtube.com/watch?v=17t__hX_EjQ&amp;ab_channel=RadheshyamDasDevotionalvideos">Nagar
                                Sankirtana</a> from Our Temple. Nagar sankirtan starts Just after Feast Program.</p>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://iskconbangalore.co.in/services/harinam-sankirtana"
                            data-a2a-title=" Harinam Sankirtana"><a class="a2a_button_facebook"></a><a
                              class="a2a_button_whatsapp"></a><a class="a2a_button_email"></a><a
                              class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fservices%2Fharinam-sankirtana&amp;title=%20Harinam%20Sankirtana"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

  </div>
  {% include 'body_script.html' %}
</body>

</html>