<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Life Membership | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}
        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span
                          class="field field--name-title field--type-string field--label-hidden">ISKCON Life
                          Membership</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="11" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img sizes="(min-width:1500px) 1500px, 100vw"
                              src="/sites/default/files/styles/content_hero_banner_phone/public/2023-07/Life-Membership.jpg?itok=QASOYrJt"
                              alt="" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>The ISKCON Life Membership program was introduced in early 1970’s as an opportunity to
                              become an integral part of the ISKCON family by His Divine Grace A.C. Bhaktivedanta Swami
                              Prabhupad. He invited everyone across the world to take advantage of residing in ISKCON
                              temples all over the world for a couple of days, attend spiritual programs and receive
                              Krishna conscious association. Presently more than 1 million life patrons are part of
                              ISKCON’s family.</p>
                            <h3>Benefits to life patrons</h3>
                            <p>As a Life Patron member, you will be entitled to receive the following benefits:</p>
                            <ul>
                              <li>You receive great opportunities to serve Lord Krishna and thus express your gratitude
                                to Him.</li>
                              <li>You will receive a centrally issued hologram card with your photo and patron number
                                along with an updated comprehensive list of ISKCON centers around the world.</li>
                              <li>A set of books by His Divine Grace A.C Bhaktivedanta Swami Prabhupada. Available in
                                English or Hindi</li>
                              <li>Free Invitations to weekly programs in homes around the world.</li>
                              <li>Japa Mala and beadbag to chant Hare Krishna mahamatra</li>
                              <li>Your donation is tax exempt under section 80-G of the income tax act, 1961. (India) .
                              </li>
                              <li>Your donation will help propagate Krishna consciousness all over the globe.</li>
                              <li>You donation will be used for construction of Karnataka’s grand Jagannath Mandir.</li>
                              <li>Wherever guest house facilities are available, with prior confirmation, you will get 3
                                days of free stay and prasadam once a year.</li>
                            </ul>
                            <h2>Once in a Lifetime Offer – (Unit of ISKCON Bureau)</h2>
                            <h2>ISKCON Life Membership for <span style="color:#339966;">Rs. 55,555</span></h2>
                            <div class="row col-xs-12 col-sm-12 col-md-12"
                              style="display:flex;justify-content:center;text-align:center;">
                              <p><strong>For online </strong><br /><a class="btn btn-primary btn-sm active"
                                  href="https://pages.razorpay.com/lifemembershipform" target="_blank">PLEASE CLICK HERE
                                  TO REGISTER</a></p>
                            </div>
                            <h3>Where is life patron office(For offline)?</h3>
                            <p>Life patron program office is situated inside the temple courtyard. This is the main
                              temple donation office. Besides Life patron program donations, we also are accepting all
                              other type of donations.</p>
                            <h3>Grievances &amp; Support</h3>
                            <ul>
                              <li><strong>Level 1</strong> – Lalita Sakhi DD(donorcare@iskcongorakhpur.com)</li>
                              <li><strong>Level 2</strong> – Bh Ravi Ph: +91-XXXX077269
                              </li>
                              <li><strong>Level 3</strong> –  Bh Ravindra Ph: +91-XXXXX16108 / +91-XXXX000444
                              </li>
                            </ul>
                            <p>For the ISKCON Life Membership policy, please <a href="/life-membership-policy">check
                                here</a>. </p>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://iskconbangalore.co.in/services/life-membership"
                            data-a2a-title="ISKCON Life Membership"><a class="a2a_button_facebook"></a><a
                              class="a2a_button_whatsapp"></a><a class="a2a_button_email"></a><a
                              class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fservices%2Flife-membership&amp;title=ISKCON%20Life%20Membership"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

  </div>
  {% include 'body_script.html' %}
</body>

</html>