<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Shiksha| ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}
        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span
                          class="field field--name-title field--type-string field--label-hidden">Siksha - The Bhakti
                          Steps</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="156" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img
                              srcset="{% static 'themes/images/shiksha.jpg' %} 576w, {% static 'themes/images/shiksha.jpg' %} 1280w, {% static 'themes/images/shiksha.jpg' %} 1391w"
                              sizes="(min-width:1500px) 1500px, 100vw"
                              src="{% static 'themes/images/shiksha.jpg' %}"
                              alt="Harinama Diksha – Initiation Ceremony" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2>What is SIKSHA PROGRAM?</h2>
                            <p>The Siksha(Bhakti Steps) is a system for encouraging devotees by recognizing their
                              chanting and spiritual standards. It is a way to help devotees consolidate and increase
                              their spiritual practices. Also offers a system to identify those who are serious about
                              advancing in Krishna consciousness. It is supported by an ISKCON GBC resolution since
                              1997.</p>
                              <!--
                            <div class="path-frontpage">
                              <div class="home-main-services col-xs-12 col-sm-12 col-md-12">
                                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/sraddhavan" data-entity-type="node"
                                        data-entity-uuid="69f377d5-2451-4695-a275-c8faffffa99f"
                                        data-entity-substitution="canonical" title="Sraddhavan - Level 1">Sraddhavan</a>
                                    </h6>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/krishna-sevaka" data-entity-type="node"
                                        data-entity-uuid="3331c2f0-1ad0-48b9-a7b6-0cfc767e84cf"
                                        data-entity-substitution="canonical" title="Krishna Sevaka - Level 2">Krishna
                                        Sevaka</a></h6>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/krishna-sadhaka" data-entity-type="node"
                                        data-entity-uuid="72f4c203-5365-4e60-9391-a2e766fd313a"
                                        data-entity-substitution="canonical" title="Krishna Sadhaka - Level 3">Krishna
                                        Sadhaka</a></h6>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/krishna-upasaka" data-entity-type="node"
                                        data-entity-uuid="a9b0204d-e54f-44da-9a40-d17437c7db5e"
                                        data-entity-substitution="canonical" title="Krishna Upasaka - Level 4">Krishna
                                        Upasaka</a></h6>
                                  </div>
                                </div>
                              </div>
                              <div class="home-main-services col-xs-12 col-sm-12 col-md-12">
                                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/srila-prabhupada-asraya" data-entity-type="node"
                                        data-entity-uuid="0b281f4c-a367-4583-83ad-f4813bddb9e4"
                                        data-entity-substitution="canonical"
                                        title="Srila Prabhupada Asraya - Level 5">Srila Prabhupada Ashraya</a></h6>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/sri-guru-carana-asraya" data-entity-type="node"
                                        data-entity-uuid="ac78284f-11ba-4512-8611-419a9bf2e538"
                                        data-entity-substitution="canonical"
                                        title="Sri Guru Carana Asraya - Level 6">Sri Guru Carana Ashraya</a></h6>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                                  <div class="main-services-inner" style="height:6rem;">
                                    <h6 class="mt-4"><a
                                        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                        href="/services/harinam-initiation" data-entity-type="node"
                                        data-entity-uuid="ad9230e0-5032-45e9-af6c-69f1467c18b2"
                                        data-entity-substitution="canonical" title="Harinam initiation">Harinam
                                        Initiation</a></h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          -->
                            <h2>Benefits</h2>
                            <ul>
                              <li><strong>Recognition</strong>​ – Congregational members feel accepted as practicing
                                devotees and feel that they are making progress. They feel appreciated for their
                                devotional efforts. This inspires them to advance more and more.​</li>
                              <li><strong>Gradual Progress​</strong> – The Bhakti-steps Program offers congregational
                                devotees a step-by-step approach to sadhana–bhakti. It is rather discouraging—and it is
                                philosophically incorrect—to make people feel that, one can only advance in Krsna
                                consciousness if he strictly follows the four regulative principles and chants sixteen
                                rounds. Most people cannot immediately aim at following all the standards required for
                                initiation. It is easier to fix the mind on the next target (from one to four rounds,
                                from four to eight, from being vegetarian to eating only prasada, and so on).​</li>
                              <li><strong>Not Based on Financial Contributions​</strong>​ – Sometimes people feel
                                appreciated by the temple only when they give money. Those who cannot give financial
                                contributions sometimes feel neglected. The Bhakti-steps Program is not linked with
                                donations and it is open to everyone, independently of monetary conditions.​</li>
                              <li><strong>Prevents Defections​</strong> – Srila Prabhupada established high standards
                                for initiation in the International Society for Krsna Consciousness. Organizations and
                                individuals outside ISKCON often take advantage of ISKCON’s congregation by offering
                                lower-commitment initiations. These cheap initiations allure many members of our
                                congregation away from ISKCON. Through the Bhakti-steps Program the congregation
                                develops a strong feeling of belonging to Srila Prabhupada’s movement. Their affiliation
                                with ISKCON is reaffirmed by their acceptance of ISKCON’s Bhakti-steps Program.​</li>
                            </ul>
                            <h2>ISKCON Law Book Chapter 15.2.1 Guidelines:</h2>
                            <ul>
                              <li>ISKCON Leaders and GBC Members (with the exception of ISKCON initiating spiritual
                                masters who cannot perform this ceremony except when it is for an approved guru-asraya
                                (sheltered) or approved aspirant disciple) shall, within their area of authority, be
                                permitted to publicly bestow acceptance and recognition to members of its congregation
                                for devotional achievements and progress in devotional service.</li>
                              <li>Local temples and congregational preaching units should implement programs for aiding
                                the congregational members to enhance their standing, and for training them to qualify
                                for the higher levels. This should include following a recommended study course for the
                                different levels (Adult Education and Congregational Preaching Monitors shall
                                recommend.)</li>
                              <li>Standard certificates shall be issued worldwide. (The proforma certificates shall be
                                created and circulated by the Corresponding Secretary in consultation with the
                                Congregational Preaching Monitor.)</li>
                              <li>The recognition shall be granted in any of the following categories (giving these is
                                optional, as also the bestowal ceremony according to local time, place and circumstance)
                              </li>
                            </ul>
                            <p> </p>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://www.iskconbangalore.co.in/services/siksha"
                            data-a2a-title="Siksha - The Bhakti Steps"><a class="a2a_button_facebook"></a><a
                              class="a2a_button_whatsapp"></a><a class="a2a_button_email"></a><a
                              class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fwww.iskconbangalore.co.in%2Fservices%2Fsiksha&amp;title=Siksha%20-%20The%20Bhakti%20Steps"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        <footer class="hero-footer">
          <div class="site-footer">
            <div class="row site-footer__top justify-content-center clearfix">
              <section class="col-xs-12 col-sm-4 col-md-3 region region-footer-first">
                <div id="block-timings"
                  class="block block-block-content block-block-content9b49a5e6-a775-46e6-a588-ac04b861b12c">

                  <h2>Timings</h2>

                  <div class="content">

                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                      <p>Mangala Arati – 05:00AM<br />Shringar Arati – 07:30AM<br />Bhagavatam – 08:00AM<br />Darshan
                        Open – 08:30AM<br />Raj Bhoga Arati – 12:30PM<br />Temple Closes – 01: 00PM<br />Darshan Open –
                        04: 30PM<br />Tulasi Arati – 06: 15PM<br />Sandhya Arati – 06: 30PM<br />Bhagavad Gita Class -
                        7:00PM<br />Shayan Arati – 08: 15PM<br />Darshan Close – 08:30PM</p>
                    </div>

                  </div>
                </div>

              </section>

              {% include 'footer.html' %}
            </div>
          </div>

      </div>
      {% include 'body_script.html' %}
</body>

</html>