<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
  {% include 'head.html' %}
  <title>Sunday Feast | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
  <a href="#main-content" class="visually-hidden-focusable">
    Skip to main content
  </a>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
      <div id="page">
        {% include 'navbar.html' %}
        <div class="highlighted">
          <aside class="container section clearfix" role="complementary">
            <div data-drupal-messages-fallback class="hidden"></div>


          </aside>
        </div>
        <div id="main-wrapper" class="layout-main-wrapper clearfix">
          <div id="main" class="container">

            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main class="main-content col" id="content" role="main">
                <section class="section">
                  <a href="#main-content" id="main-content" tabindex="-1"></a>
                  <div id="block-akara-page-title" class="block block-core block-page-title-block">


                    <div class="content">

                      <h1 class="title"><span class="field field--name-title field--type-string field--label-hidden">The
                          Sunday Love Feast — An Offering of Love</span>
                      </h1>


                    </div>
                  </div>
                  <div id="block-akara-content" class="block block-system block-system-main-block">


                    <div class="content">


                      <article data-history-node-id="16" role="article"
                        class="node node--type-page node--view-mode-full clearfix">
                        <header>


                        </header>
                        <div class="node__content clearfix">

                          <div
                            class="field field--name-field-banner field--type-entity-reference field--label-hidden field__item">
                            <img sizes="(min-width:1500px) 1500px, 100vw"
                              src="{% static 'themes/images/sunday_feast.jpg' %}"
                              alt="" />


                          </div>

                          <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p>After a whole week of bodily &amp; mentally tiring work, why not use your Sundays to
                              refresh yourself by bathing in Vedic spiritual wisdom and recreation? After that, a tasty
                              and healthy prasad feast will be served.</p>
                            <blockquote>
                              <p><em>sadhu-sanga, nama-kirtana, bhagavata-sravana</em> <br /><em>mathura-vasa,
                                  sri-murtira sraddhaya sevana</em></p>
                            </blockquote>
                            <p><em>“One should associate with devotees, chant the holy name of the Lord, hear Srimad
                                Bhagavatam, reside at Mathura and worship the Deity with faith and veneration.”
                                (Caitanya Caritamrita. Madhya-lila 22.128)</em></p>
                            <p><a href="http://www.dandavats.com/?p=68998">The Sunday ‘Love Feasts’</a> go back to the
                              very beginning of Srila Prabhupada’s ISKCON period, which began in the mid-1960’s. He
                              introduced this weekly festival as part of his overall preaching program.</p>
                            <p><a href="http://prabhupada.io/">The Founder Acarya</a> of the Hare Krishna Movement,
                              Srila Prabhupada started the “<a
                                href="https://back2godhead.com/lord-krsnas-cuisine-37/">Sunday Love Feast</a>” in 1965.
                              He would personally invite guests, and cook the entire meal. He would serve the devotees a
                              variety of tasty Indian-vegetarian preparations. Along with the vegetarian feast, Srila
                              Prabhupada would sing the Hare Krishna Maha-mantra with the guests, dance and give a
                              lecture on Bhagavad-gita.</p>
                            <p>Since then, this weekly <a href="https://back2godhead.com/lord-krsnas-cuisine-37/">Sunday
                                Love Feast Festival</a> is celebrated in all the <a href="https://isckon.org">ISKCON</a>
                              Temples around the world. It has evolved as an integrated celebration of Lord Krishna’s
                              pastimes: chanting, hearing spiritual knowledge, dancing, eating, fellowship and generally
                              sharing the bliss of God’s presence. Anyone can come regardless of beliefs as we welcome
                              all into an experience of Love.</p>
                            <div class="align-center">


                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                <div class="field__item">
                                  <picture>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      media="all and (min-width: 1400px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      media="all and (min-width: 1200px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      media="all and (min-width: 992px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      media="all and (min-width: 768px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      media="all and (max-width: 576px)" type="image/jpeg">
                                    </source>
                                    <source
                                      srcset="{% static 'themes/images/prasad_0.jpg' %} 1x, {% static 'themes/images/prasad_0.jpg' %} 2x"
                                      type="image/jpeg">
                                    </source><img
                                      src="{% static 'themes/images/prasad_0.jpg' %}"
                                      alt="" />
                                  </picture>
                                </div>
                              </div>

                            </div>
                            <p>We invite you to our <a
                                href="https://iskcondesiretree.com/profiles/blogs/the-sunday-hare-krishna-love-feast-by-srila-prabhupada">Sunday
                                ‘Love Feast’</a>. Every Sunday, spiritual-seekers gather for a culturally rich and
                              vibrant experience of traditional spiritual culture which provides a flavor of Bhakti yoga
                              – the yoga of love! Festivities kick off with kirtan (musical mantra mediation) and
                              continue with more <a
                                href="https://iskconnews.org/neurologists-study-shows-maha-mantra-could-help-anxiety-schizophrenia/">chanting</a>,
                              drumming, a spiritual discourse and a free vegetarian feast served to all attendees!</p>
                            <p> <em><strong>Please visit our temple From 10:30 AM to 1:00 PM, every
                                  Sunday!</strong></em></p>
                            <h3>Every Sunday is a Festival @ ISKCON Sri Sri Radha Madhav Temple, Gorakhpur</h3>
                            <ul>
                              <li><a
                                  href="https://www.youtube.com/watch?v=ishuFbmHNYs&amp;ab_channel=AmarendraD%C4%81saOfficial">Ecstatic
                                  Kirtan</a></li>
                              <li>Thought-provoking keynotes by eminent vaishnavas</li>
                              <li>A sumptuous <a
                                  href="http://www.shreekhetra.com/chappan-bhoga-jagannath.html">prasad</a> feast</li>
                            </ul>
                          </div>


                          <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                            data-a2a-url="https://iskconbangalore.co.in/services/sunday-feast"
                            data-a2a-title="The Sunday Love Feast — An Offering of Love"><a
                              class="a2a_button_facebook"></a><a class="a2a_button_whatsapp"></a><a
                              class="a2a_button_email"></a><a class="a2a_dd addtoany_share"
                              href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fservices%2Fsunday-feast&amp;title=The%20Sunday%20Love%20Feast%20%E2%80%94%20An%20Offering%20of%20Love"></a></span>
                        </div>
                      </article>

                    </div>
                  </div>


                </section>
              </main>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>

  </div>
  {% include 'body_script.html' %}
</body>

</html>