<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>Festivals | ISKCON Gorakhpur</title>
</head>

<body class="layout-no-sidebars page-node-148 path-node node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">
        Skip to main content
    </a>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>


                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">

                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div id="block-akara-page-title" class="block block-core block-page-title-block">


                                        <div class="content">

                                            <h1 class="title">Festivals</h1>


                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">


                                        <div class="content">
                                            <div class="views-element-container">
                                                <div
                                                    class="view view-festivals view-id-festivals view-display-id-page_1 js-view-dom-id-d1d24e5fa33e159d103775995e4794936134d6bb500edc1bc5d73c7c6c0f483a">


                                                    <div class="view-header">
                                                        <div id="festivals-container" class="mt-3">
                                                            <div id="festivals-banner">
                                                                <picture>
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=0IrwvXUI 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=OxJEQ_W7 2x"
                                                                        media="all and (min-width: 1400px)"
                                                                        type="image/jpeg">
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=LWVWUzTx 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=Kg_XPKXk 2x"
                                                                        media="all and (min-width: 1200px)"
                                                                        type="image/jpeg">
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=hX2tsfEb 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=681BtRcx 2x"
                                                                        media="all and (min-width: 992px)"
                                                                        type="image/jpeg">
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=NUIWVi1U 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=XxramkMS 2x"
                                                                        media="all and (min-width: 768px)"
                                                                        type="image/jpeg">
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=84xU4mYU 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=FwQ6PAXK 2x"
                                                                        media="all and (max-width: 576px)"
                                                                        type="image/jpeg">
                                                                    <source
                                                                        srcset="/sites/default/files/2023-07/rasa_lila.jpg?itok=84xU4mYU 1x, /sites/default/files/2023-07/rasa_lila.jpg?itok=FwQ6PAXK 2x"
                                                                        type="image/jpeg"><img
                                                                        src="/sites/default/files/2023-07/rasa_lila.jpg?itok=84xU4mYU"
                                                                        alt="Rasa Lila" /></source>
                                                                    </source>
                                                                    </source>
                                                                    </source>
                                                                    </source>
                                                                    </source>
                                                                </picture>
                                                            </div>
                                                            <div id="festivals-tab">
                                                                <ul class="list-group list-group-horizontal-sm">
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=all">View
                                                                            All</a></li>
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=13">Prominent
                                                                            festival</a></li>
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=15">Ekadashi</a>
                                                                    </li>
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=18">Appearance</a>
                                                                    </li>
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=19">Disappearance</a>
                                                                    </li>
                                                                    <li class="list-group-item"><a
                                                                            href="/festivals?field_tags_target_id=20">Events</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="view-content row">
                                                        <div class="views-view-grid horizontal cols-3 clearfix col">
                                                            <div class="row">
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/snana-yatra-sacred-bathing-festival"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2024-08/SnanaCiddaDahi.jpg?itok=Sd9zj9IX"
                                                                                    width="450" height="250"
                                                                                    alt="Snana Yatra – A Sacred Bathing Festival"
                                                                                    loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/snana-yatra-sacred-bathing-festival"
                                                                                hreflang="en">Snana Yatra – A Sacred
                                                                                Bathing Festival</a></span></div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">The Snana Yatra
                                                                            festival, also known as Devasnan Purnima, is
                                                                            a significant and sacred festival dedicated
                                                                            to Lord Jagannath. It is celebrated on the
                                                                            full moon day in the month of Jyestha. This
                                                                            unique… <a
                                                                                href="/festival/snana-yatra-sacred-bathing-festival"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/sri-krishna-pushya-abhisheka"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2024-02/Shri_Krishna_Pushpa_Abhishek_ISKCON_Seshadripuram.jpg?itok=0KsrN10R"
                                                                                    width="450" height="250"
                                                                                    alt="Shri Krishna Pushpa Abhishek ISKCON Seshadripuram"
                                                                                    loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/sri-krishna-pushya-abhisheka"
                                                                                hreflang="en">Sri Krishna Pushya
                                                                                Abhisheka</a></span></div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">In the Skanda Purana
                                                                            2.2.42, Sri Krishna Pusya abhiseka is
                                                                            described as one of the festivals observed
                                                                            for Lord Jagannath in Puri. The chapter
                                                                            gives an elaborate description of the
                                                                            rituals for… <a
                                                                                href="/festival/sri-krishna-pushya-abhisheka"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/odana-sasti"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2023-12/Odana-sasti.jpg?itok=o0bWpgLb"
                                                                                    width="450" height="250"
                                                                                    alt="Odana-sasti" loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/odana-sasti"
                                                                                hreflang="en">Odana-sasti</a></span>
                                                                    </div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">As autumn surrenders
                                                                            to the cool breeze of the winter, we are
                                                                            reminded of the approaching winter season
                                                                            and the divine festival of Odana Sasthi.
                                                                            This auspicious occasion reminds us of the
                                                                            Lord loving… <a href="/festival/odana-sasti"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/gita-jayanti"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2023-11/Gita%20Jayanti.jpg?itok=HtMMhnmf"
                                                                                    width="450" height="250"
                                                                                    alt="Gita Jayanti - Advent of Srimad Bhagavat Gita"
                                                                                    loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/gita-jayanti"
                                                                                hreflang="en">Gita Jayanti - The Advent
                                                                                of Srimad Bhagavat Gita</a></span></div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">Gita Jayanti is the
                                                                            auspicious day of the advent of Srimad
                                                                            Bhagavad-gita. This is the day on which Lord
                                                                            Krishna imparted the essence of Vedic
                                                                            knowledge to Arjuna over 5000 years ago and
                                                                            enlightened… <a
                                                                                href="/festival/gita-jayanti"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/tulasi-shaligram-vivaha"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2023-11/ISKCON_Seshadripuram_Tulasi-Shaligram_Vivaha.jpg?itok=8BTrytmB"
                                                                                    width="450" height="250"
                                                                                    alt="Tulasi-Shaligram Vivaha"
                                                                                    loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/tulasi-shaligram-vivaha"
                                                                                hreflang="en">Tulasi-Shaligram
                                                                                Vivaha</a></span></div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">Purnima (the Full
                                                                            Moon), is also the End of Kartika, Sri Krsna
                                                                            Rasa-yatra (the purnima or full moon of
                                                                            Damodara month is the second full moon of
                                                                            the autumn season, and rasa lila is again
                                                                            celebrated… <a
                                                                                href="/festival/tulasi-shaligram-vivaha"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="festivals fx col-md-4 col-xs-12">
                                                                    <div class="views-field views-field-field-banner">
                                                                        <div class="field-content"> <a
                                                                                href="/festival/bhisma-pancaka"><img
                                                                                    src="/sites/default/files/styles/festivals/public/2023-11/Bhishma-Panchak.jpg?itok=SKFk5PBc"
                                                                                    width="450" height="250"
                                                                                    alt="Bhisma Pancaka" loading="lazy"
                                                                                    class="image-style-festivals" />

                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="views-field views-field-title"><span
                                                                            class="field-content"><a
                                                                                href="/festival/bhisma-pancaka"
                                                                                hreflang="en">Bhisma Pancaka</a></span>
                                                                    </div>
                                                                    <div class="views-field views-field-body">
                                                                        <div class="field-content">The last 5 days of
                                                                            the month of Kartika are traditionally known
                                                                            as the Bhishma Panchaka or the Vishnu
                                                                            Panchaka. Grandfather Bhisma fasted for
                                                                            these five days, preparing to give up his
                                                                            life. In the… <a
                                                                                href="/festival/bhisma-pancaka"
                                                                                class="views-more-link">read more</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <nav aria-label="pagination-heading">
                                                        <h4 id="pagination-heading" class="visually-hidden">Pagination
                                                        </h4>
                                                        <ul class="pagination js-pager__items">
                                                            <li class="page-item active">
                                                                <span class="page-link">1</span>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a href="?field_tags_target_id=13&amp;page=1" title=""
                                                                    class="page-link">2</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a href="?field_tags_target_id=13&amp;page=2" title=""
                                                                    class="page-link">3</a>
                                                            </li>
                                                            <li class="page-item ">
                                                                <a href="?field_tags_target_id=13&amp;page=3" title=""
                                                                    class="page-link">4</a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a href="?field_tags_target_id=13&amp;page=1"
                                                                    title="Go to next page" rel="next"
                                                                    class="page-link">
                                                                    <span aria-hidden="true">››</span>
                                                                    <span class="visually-hidden">Next page</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a href="?field_tags_target_id=13&amp;page=3"
                                                                    title="Go to last page" class="page-link">
                                                                    <span aria-hidden="true">Last »</span>
                                                                    <span class="visually-hidden">Last page</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>

    </div>
    {% include 'body_script.html' %}
</body>

</html>