<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
    <head>
        {% include 'head.html' %}
        <title>Conatct Us | ISKCON Gorakhpur</title>
      </head>
    <body class="layout-no-sidebars page-node-34 path-node node--type-page">
        <a href="#main-content" class="visually-hidden-focusable">Skip to main content
    </a>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
            <div id="page-wrapper">
                <div id="page">
                    {% include 'navbar.html' %}
                    <div class="highlighted">
                        <aside class="container section clearfix" role="complementary">
                            <div data-drupal-messages-fallback class="hidden"></div>
                        </aside>
                    </div>
                    <div id="main-wrapper" class="layout-main-wrapper clearfix">
                        <div id="main" class="container">
                            <div class="row row-offcanvas row-offcanvas-left clearfix">
                                <main class="main-content col" id="content" role="main">
                                    <section class="section">
                                        <a href="#main-content" id="main-content" tabindex="-1"></a>
                                        <div id="block-akara-page-title" class="block block-core block-page-title-block">
                                            <div class="content">
                                                <h1 class="title">
                                                    <span class="field field--name-title field--type-string field--label-hidden">Contact Us</span>
                                                </h1>
                                            </div>
                                        </div>
                                        <div id="block-akara-content" class="block block-system block-system-main-block">
                                            <div class="content">
                                                <article data-history-node-id="34" role="article" class="node node--type-page node--view-mode-full clearfix">
                                                    <header></header>
                                                    <div class="node__content clearfix">
                                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                            <div style="display:flex;justify-content:center;margin-bottom:1rem;text-align:center;" id="contactus">
                                                                <p>
                                                                    <strong>International Society for Krishna Consciousness</strong>
                                                                    <br/>
                                                                    Sri Radha Madhav Temple<br/>
                                                                    ISKCON Gorakhpur, Uttar Pradesh            <br/>
                                                                    Founder Acharya: His Divine Grace A.C Bhaktivedanta Swami Prabhupada            <br/>
                                                                    Address: Dev Villa, 3/40, Deoria Bypass Rd, Bahar Cluster-3, Sahara Estate, Gorakhpur, Uttar Pradesh 273008
                                                                    </p>
                                                            </div>
                                                            <div style="display:flex;justify-content:center;margin-bottom:1rem;margin-top:1rem;text-align:center;" id="contactus-info">
                                                                <p>
                                                                    <img src="{% static 'sites/default/files/social-icons/telephone.png' %}" width="50" height="50"/>
                                                                    <a href="tel:+91XXXX77269">+91 XXXX 77269</a>
                                                                </p>
                                                                <p>
                                                                    <img src="{% static 'sites/default/files/social-icons/whatsapp.png' %}" width="50" height="50"/>
                                                                    <a href="https://wa.me/998XXXX7269/?text=I%20am%20inquiring%20about%20the%20temple">+91 9XXXX 77269</a>
                                                                </p>
                                                                <p>
                                                                    <img src="{% static 'sites/default/files/social-icons/email.png' %}" width="50" height="50"/>
                                                                    <a href="mailto:info@iskcongorakhpur">info@iskcongorakhpur.com</a>
                                                                </p>
                                                            </div>
                                                            <div class="mapouter">
                                                                <style>
                                                                    <!--/*--><![CDATA[/* ><!--*/ .mapouter {
                                                                        position: relative;
                                                                        text-align: right;
                                                                        width: 100%;
                                                                        height: 500px;
                                                                    }

                                                                    .gmap_canvas {
                                                                        overflow: hidden;
                                                                        background: none!important;
                                                                        width: 100%;
                                                                        height: 500px;
                                                                    }

                                                                    .gmap_iframe {
                                                                        height: 500px!important;
                                                                    }

                                                                    /*--><!]]>*/
                                                                </style>
                                                                <div class="gmap_canvas">
                                                                    
                                                                    <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16952.650127854093!2d83.41084758233703!3d26.717057162824155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39914347e3406a43%3A0x6029cc778619775d!2sISKCON%20Gorakhpur!5e0!3m2!1sen!2sin!4v1737746254092!5m2!1sen!2sin"></iframe>
                                                                </div>
                                                            </div>
                                                            <div style="display:flex;justify-content:center;margin-top:1rem;text-align:center;" id="follow-me">
                                                                <strong>Follow us on</strong>
                                                            </div>
                                                            <div style="display:flex;justify-content:center;margin-top:1rem;text-align:center;" id="follow-us">
                                                                <p>
                                                                    <a href="https://www.youtube.com/@ISKCONSeshadripuramBengaluru">
                                                                        <img src="{% static 'sites/default/files/social-icons/youtube.png' %}" width="50" height="50"/>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <a href="https://www.instagram.com/iskcon_seshadripuram">
                                                                        <img src="{% static 'sites/default/files/social-icons/instagram.png' %}" width="50" height="50"/>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    <a href="https://www.facebook.com/sjmblr">
                                                                        <img src="{% static 'sites/default/files/social-icons/facebook.png' %}" width="50" height="50"/>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <span class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="https://iskconbangalore.co.in/contact-us" data-a2a-title="Contact Us">
                                                            <a class="a2a_button_facebook"></a>
                                                            <a class="a2a_button_whatsapp"></a>
                                                            <a class="a2a_button_email"></a>
                                                            <a class="a2a_dd addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fcontact-us&amp;title=Contact%20Us"></a>
                                                        </span>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
        {% include 'body_script.html' %}
    </body>
</html>
