{% load static %}
<footer class="hero-footer">
                        <div class="site-footer">
                            <div class="row site-footer__top justify-content-center clearfix">
                                <section class="col-xs-12 col-sm-4 col-md-3 region region-footer-first">
                                    <div id="block-timings" class="block block-block-content block-block-content9b49a5e6-a775-46e6-a588-ac04b861b12c">
                                        <h2>Timings</h2>
                                        <div class="content">
                                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <p>
                                                    Mantra Japa - 04:30AM<br/>
                                                    Mangal Arati – 06:45AM<br/>
                                                    Tulasi Arati – 07: 15PM<br/>
                                                    Bhagavad Gita Class–  07:30AM<br/>
                                                    Temple Closes – 01:00PM<br/>
                                                    Darshan Re-Open – 04:00PM<br/>
                                                    Kirtan – 06: 30PM<br/>
                                                    Gaur Arati - 7:00PM<br/>
                                                    Shayan kirtan – 08:00PM<br/>
                                                    Darshan Close – 08:30PM
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="col-xs-12 col-md-6 col-sm-4 text-center region region-footer-second">
                                    <div id="block-founderacharya" class="block block-block-content block-block-contentf92791f4-6fdb-47fe-acea-dfe8f74a17d7">
                                        <div class="content">
                                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <div style="display:flex;justify-content:center;margin-bottom:.5rem;" id="follow-us">
                                                    <a href="https://wa.me/9170572937/?text=I%20am%20inquiring%20about%20the%20temple">
                                                        <span>
                                                            <img src="{%static 'sites/default/files/social-icons/whatsapp.png' %}" width="30" height="30"/>
                                                        </span>
                                                    </a>
                                                    <span></span>
                                                    <a href="https://www.youtube.com/@iskcongorakhpur_official">
                                                        <span>
                                                            <img src="{%static 'sites/default/files/social-icons/youtube.png' %}" width="30" height="30"/>
                                                        </span>
                                                    </a>
                                                    <span></span>
                                                    <a href="https://www.instagram.com/iskcon.gorakhpur">
                                                        <span>
                                                            <img src="{%static 'sites/default/files/social-icons/instagram.png' %}" width="30" height="30"/>
                                                        </span>
                                                    </a>
                                                    <span></span>
                                                    <a href="https://www.facebook.com/iskcontemple.gorakhpur">
                                                        <span>
                                                            <img src="{%static 'sites/default/files/social-icons/facebook.png' %}" width="30" height="30"/>
                                                        </span>
                                                    </a>
                                                    <span></span>
                                                    <a href="mailto:info@iskcongorakhpur.com">
                                                        <span>
                                                            <img src="{%static '/sites/default/files/social-icons/email.png' %}" width="30" height="30"/>
                                                        </span>
                                                    </a>
                                                    <span></span>
                                                </div>
                                                <div class="align-center">
                                                    <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                        <div class="field__label visually-hidden">Image</div>
                                                        <div class="field__item">
                                                            <picture>
                                                                <img src="{% static 'sites/banner.png' %}" alt="Krishna Helping Devotees"/>

                                                                </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <span>Dedicated to: Founder-Acharya His Divine Grace A.C. Bhaktivedanta Swami Prabhupada</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="col-xs-12 col-sm-4 col-md-3 region region-footer-third">
                                    <div id="block-contactus" class="block block-block-content block-block-content08a0d1a5-60b5-48e7-b760-dd0f092636ce">
                                        <h2>Contact Us</h2>
                                        <div class="content">
                                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <p>
                                                    ISKCON Gorakhpur<br/>
                                                    Sri Radha Madhav Temple                 <br/>
                                                    Lohiya Vatika, <br/>
                                                    Nand Nagar Colony, <br/>
                                                    Padari Chowk, <br/>
                                                    Gorakhpur - 273008                 <br/>
                                                    <a href="https://maps.app.goo.gl/1T8dh3JoyBzQ27mf7">
                                                        <img src="{%static 'sites/default/files/social-icons/google_map.png' %}" width="50" height="50"/>
                                                    </a>
                                                    <br/>
                                                    <br/>
                                                    <img src="{%static 'sites/default/files/social-icons/telephone.png' %}" width="25" height="25"/>
                                                    <a href="https://wa.me/9170572937/?text=I%20am%20inquiring%20about%20the%20temple">+91 9170572937</a>
                                                    <br/>
                                                    <img src="{%static 'sites/default/files/social-icons/email.png' %}" width="25" height="25"/>
                                                    <a href="mailto:info@iskcongorakhpur.com">info@iskcongorakhpur.com</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="site-footer__bottom d-flex justify-content-center">
                            <section class="row region region-footer-fourth">
                                <div id="block-bottomfooter" class="block block-block-content block-block-contentb34589ba-4a07-44ae-9eac-252c4a3c531b">
                                    <div class="content">
                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                            <p>
                                                <a href="/terms">Terms &amp;Conditions </a>
                                                |<a href="/privacy-policy">Privacy Policy </a>
                                                |<a href="/contact">Contact Us</a>
                                                <br/>©2025 ISKCON Gorakhur. All rights Reserved.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </footer>