{% load static %}
<meta charset="utf-8" />
<meta name="description"
    content="ISKCON Radha Madhav Temple( Official Website of ISKCON Gorakhpur Temple ) is recognized as one of the famous places to visit in Gorakhpur and best maintained ISKCON temple in the Gorakhpur. The Sri Radha Madhav temple situated in the Sahara Estate area of Gorakhpur, holds a special significance for the devotees of the International Society for Krishna Consciousness. This grand temple represents the fulfilled dream of Srila Prabhupada, Founder Acharya of ISKCON." />
<meta name="abstract"
    content="ISKCON Sri Radha Madhav Temple( Official Website of ISKCON Gorakhpur Temple ) is recognized as one of the famous places to visit in Bangalore and best maintained ISKCON temple in the world. The Sri Radha Madhav Mandir situated in the Sahara Estate area of Gorakhpur, holds a special significance for the devotees of the International Society for Krishna Consciousness. This grand temple represents the fulfilled dream of Srila Prabhupada, Founder Acharya of ISKCON." />
<meta name="keywords"
    content="Religious organization, ISKCON, ISKCON Gorakhpur, ISKCON Gorakhpur, ISKCON Gorakhpur Darshan, Gorakhpur Deity Darshan, Deities Darshan, Sri Radha Madhav Mandir, ISKCON Temple, Hare Krishna, Hare Krishna Land, Hare Rama Hare Krishna, Deities, Radha Krishna, Sri Sri Radha Madav, Sita, Ram, Laxman, Hanuman, Gorakhpur ISKCON, Hare Krishna Mandir, Hare Krishna Hare Rama Mandir, Bangalore, Hare Krishna Mandir in Gorakhpur, Gorakhpur Hare Krishna Mandir, Gorakhpur Hare Rama Hare Krishna, Narshimha Temple, Rath Yatra" />
<meta name="geo.region" content="IN-KA" />
<meta name="geo.position" content="12.995317171147313;77.57934682460977;" />
<meta name="geo.placename" content="Gorakhpur, Uttar Pradesh, India" />
<meta name="icbm" content="26.71635452802887, 83.41919102698283" />
<link rel="shortlink" href="https://iskcongorakhpur.com/" />
<link rel="canonical" href="https://iskcongorakhpur.com/" />
<meta name="robots" content="index, follow" />
<link rel="image_src" href="https://iskcongorakhpur.com/themes/contrib/akara/images/logo/logo.png" />
<meta name="author" content="ISKCON Gorakhpur" />
<meta name="original-source" content="https://iskcongorakhpur.com/" />
<meta name="referrer" content="unsafe-url" />
<meta name="rights" content="ISKCON Gorakhpur" />
<meta property="og:site_name" content="ISKCON Gorakhpur" />
<meta property="og:type" content="Website" />
<meta property="og:url" content="https://iskcongorakhpur.com" />
<meta property="og:title" content="ISKCON Gorakhpur" />
<meta property="og:description"
    content="ISKCON Radha Madhav Temple is recognized as one of the famous places to visit in Gorakhpur and best maintained ISKCON temple in the world. The  ISKCON situated in the Gorakhpur, holds a special significance for the devotees of the International Society for Krishna Consciousness. This grand temple represents the fulfilled dream of Srila Prabhupada, Founder Acharya of ISKCON." />
<meta property="og:image" content="https://iskcongorakhpur.com/themes/contrib/akara/images/logo/logo.png" />
<meta property="og:image:url" content="https://iskcongorakhpur.com/themes/contrib/akara/images/logo/logo.png" />
<meta property="og:image:secure_url"
    content="https://iskcongorakhpur.com/themes/contrib/akara/images/logo/logo.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="94" />
<meta property="og:image:height" content="91" />
<meta property="place:location:longitude" content="77.57940046879095" />
<meta property="place:location:latitude" content="12.995264900873293" />
<meta property="og:street_address" content="ISKCON Gorakhpur, Sri Radha Madhav" />
<meta property="og:locality" content="Dev Villa, 3/40, Deoria Bypass Rd, Sahara Estate, Gorakhpur" />
<meta property="og:region" content="Gorakhpur, Utta Pradesh" />
<meta property="og:postal_code" content="273008" />
<meta property="og:country_name" content="India" />
<meta property="og:email" content="info@iskcongorakhpur.com" />
<meta property="og:phone_number" content="+91 XXXXXX7269" />
<meta property="og:locale" content="en_US" />
<meta name="google-site-verification" content="hOQW6bYywpMTK05uoNr5SK2wF9Oe4mjKi886PyxgW0A" />
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
<meta name="theme-color" content="#ffffff" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="ISKCON Gorakhpur" />
<meta name="Generator" content="Drupal 9 (https://www.drupal.org); Commerce 2" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<style>
    div#sliding-popup,
    div#sliding-popup .eu-cookie-withdraw-banner,
    .eu-cookie-withdraw-tab {
        background: #000000
    }

    div#sliding-popup.eu-cookie-withdraw-wrapper {
        background: transparent;
    }

    #sliding-popup h1,
    #sliding-popup h2,
    #sliding-popup h3,
    #sliding-popup p,
    #sliding-popup label,
    #sliding-popup div,
    .eu-cookie-compliance-more-button,
    .eu-cookie-compliance-secondary-button,
    .eu-cookie-withdraw-tab {
        color: #FFFFFF;
    }

    .eu-cookie-withdraw-tab {
        border-color: #FFFFFF;
    }
</style>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "HinduTemple",
                    "url": "https://iskcongorakhpur.com/",
                    "telephone": "+91 XXXXX077269",
                    "name": "ISKCON Gorakhpur",
                    "description": "ISKCON Sri Radha Madhav Temple is recognized as one of the famous places to visit in Gorakhpur and best maintained ISKCON temple in the Gorakhpur.",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": [
                            "Dev Villa, 3/40",
                            "Deoria Bypass Rd",
                            "Bahar Cluster-3"
                        ],
                        "addressLocality": [
                            "Sahara Estate",
                            "Gorakhpur"
                        ],
                        "addressRegion": "GKP",
                        "postalCode": "273008",
                        "addressCountry": "India"
                    },
                    "geo": {
                        "@type": "GeoCoordinates",
                        "latitude": "26.71635452802887",
                        "longitude": "83.41919102698283"
                    },
                    "image": {
                        "@type": "ImageObject",
                        "url": "https://iskcongorakhupur.com/sites/default/files//golden_temple.jpg"
                    }
                },
                {
                    "@type": "WebPage",
                    "@id": "https://iskcongorakhpur.com/",
                    "breadcrumb": [
                    ],
                    "description": "ISKCON Sri RadhaMadhav Temple is recognized as one of the famous places to visit in Gorakhpur and best maintained ISKCON temple in the Gorakhpur. The Sri Radha Madhav situated in the Sahara Estate area of Gorakhpur.",
                    "author": {
                        "@type": "Organization",
                        "@id": "https://iskcongorakhpur.com/",
                        "name": "ISKCON Gorakhpur",
                        "url": "https://iskcongorakhpur.com/"
                    },
                    "publisher": {
                        "@type": "Organization",
                        "@id": "https://iskcongorakhpur.com/",
                        "name": "ISKCON Gorakhpur",
                        "url": "https://iskcongorakhpur.com/",
                        "logo": {
                            "@type": "ImageObject",
                            "url": "https://iskcongorakhpur.com/sites/default/files/assets/golden_temple.jpg"
                        }
                    }
                },
                {
                    "@type": "WebSite",
                    "@id": "https://iskcongorakhpur.com/",
                    "name": "ISKCON Gorakhpur",
                    "url": "https://iskcongorakhpur.com/",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": {
                            "@type": "EntryPoint",
                            "urlTemplate": "https://iskcongorakhpur.com/search/node?keys={search_term_string}",
                            "actionPlatform": "https://iskcongorakhpur.com/",
                            "inLanguage": "en-US"
                        },
                        "query": "https://iskcongorakhpur.com/search/node?keys={search_term_string}",
                        "query-input": "required name=search_term_string"
                    }
                }
            ]
        }</script>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="apple-touch-icon" sizes="192x192"
    href="{% static 'sites/default/files/pwa/logo-512x512.pngcopy.png' %}" />
<link href="/iphone5_splash.png"
    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/iphone6_splash.png"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/iphoneplus_splash.png"
    media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
<link href="/iphonex_splash.png"
    media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
<link href="/iphonexr_splash.png"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/iphonexsmax_splash.png"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
<link href="/ipad_splash.png"
    media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/ipadpro1_splash.png"
    media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/ipadpro2_splash.png"
    media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link href="/ipadpro3_splash.png"
    media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
<link rel="icon" href="{%static 'themes/contrib/akara/favicon.ico' %}" type="image/vnd.microsoft.icon" />
<script>
    window.a2a_config = window.a2a_config || {};
    a2a_config.callbacks = [];
    a2a_config.overlays = [];
    a2a_config.templates = {};
    a2a_config.icon_color = "#000000";
    a2a_config.thanks = {
        postShare: true,
    };
</script>
<link rel="stylesheet" media="all"
    href="{% static 'sites/default/files/css/css_n-K3opWUAEEpoUTAnbHGLTYV-dYKAAuqVtdgKmfFII8.css' %}" />
<link rel="stylesheet" media="all"
    href="{% static 'sites/default/files/css/css_kSZsLvcZ_6bl8tIwRuolMvu-YxBFWAJ9D3LdkwJLZv0.css' %}" />
<link rel="stylesheet" media="all"
    href="{% static 'sites/default/files/css/css_mYNl0j4VCmSVjePrEnxVYExO_06nEOXUavzC0rRtoCU.css' %}" />
<link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css?family=Inria+Sans|Open+Sans&amp;display=swap" defer async />
<link rel="stylesheet" media="all"
    href="{% static 'sites/default/files/css/css_m7In-9pZO6SGRdlrefkFLDINdfhKEltbFMlqWZBhCeQ.css' %}" />
<link rel="stylesheet" media="all" href="//use.fontawesome.com/releases/v5.13.0/css/all.css" />
<link rel="stylesheet" media="print"
    href="{% static 'sites/default/files/css/css_Y4H_4BqmgyCtG7E7YdseTs2qvy9C34c51kBamDdgark.css' %}" />
<link rel="stylesheet" media="all"
    href="{% static 'sites/default/files/css/css_sYnvu9VFys0EXk0ZUPdAF12wMvjUsreTC1n7lDc_uTM.css' %}" />