<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    {% include 'head.html' %}
    <title>ISKCON Gorakhpur | ISKCON Sri Radha Madhav Temple| Official Website of ISKCON Gorakhpur Temple | ISKCON
        Gorakhpur </title>
</head>

<body class="layout-no-sidebars page-node-35 path-frontpage node--type-page">
    <a href="#main-content" class="visually-hidden-focusable">Skip to main content
    </a>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RKQZD47" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div id="page-wrapper">
            <div id="page">
                {% include 'navbar.html' %}
                <div class="highlighted">
                    <aside class="container section clearfix" role="complementary">
                        <div data-drupal-messages-fallback class="hidden"></div>
                    </aside>
                </div>
                <div id="main-wrapper" class="layout-main-wrapper clearfix">
                    <div id="main" class="container">
                        <div class="row row-offcanvas row-offcanvas-left clearfix">
                            <main class="main-content col" id="content" role="main">
                                <section class="section">
                                    <a href="#main-content" id="main-content" tabindex="-1"></a>
                                    <div class="views-element-container block block-views block-views-blockhero-banner-block-1"
                                        id="block-views-block-hero-banner-block-1">
                                        <div class="content">
                                            <div>
                                                <div
                                                    class="view view-hero-banner view-id-hero_banner view-display-id-block_1 js-view-dom-id-1426cf302492b75da69f257f321c358b86867b1484e3e1ba10a058d2e303c5e8">
                                                    <div class="view-content row">
                                                        <div class="skin-default">
                                                            <div id="views_slideshow_cycle_main_hero_banner-block_1"
                                                                class="views_slideshow_cycle_main views_slideshow_main">
                                                                <div id="views_slideshow_cycle_teaser_section_hero_banner-block_1"
                                                                    class="views_slideshow_cycle_teaser_section">



                                                                    {% for temp in top_header %}
                                                                    <div id="views_slideshow_cycle_div_hero_banner-block_1_2"
                                                                        class="views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                                                                        <div
                                                                            class="views-row views-row-2 views-row-odd">
                                                                            <div
                                                                                class="views-field views-field-field-hero-banner">
                                                                                <div class="field-content">
                                                                                    <a href="/">
                                                                                        <img src="{{temp.image.url}}"
                                                                                            sizes="(min-width:1500px) 1500px, 100vw"
                                                                                            alt="{{temp.alt}}" />
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="block-akara-content" class="block block-system block-system-main-block">
                                        <div class="content">
                                            <article data-history-node-id="35" role="article"
                                                class="node node--type-page node--view-mode-full clearfix">
                                                <header></header>
                                                <div class="node__content clearfix">
                                                    <span class="a2a_kit a2a_kit_size_32 addtoany_list"
                                                        data-a2a-url="https://iskconbangalore.co.in/home"
                                                        data-a2a-title="Home">
                                                        <a class="a2a_button_facebook"></a>
                                                        <a class="a2a_button_whatsapp"></a>
                                                        <a class="a2a_button_email"></a>
                                                        <a class="a2a_dd addtoany_share"
                                                            href="https://www.addtoany.com/share#url=https%3A%2F%2Fiskconbangalore.co.in%2Fhome&amp;title=Home"></a>
                                                    </span>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div id="block-ourmainservices"
                                        class="block block-block-content block-block-content4d5e6024-f4d0-4718-b1c6-f6810e2c0c16">
                                        <h2>Our Main Services</h2>
                                        <div class="content">
                                            <div
                                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <p>Although our temple has numerous departments performing various
                                                    different services,
                                                    the main focus is on the deity worship, prasadam distribution,
                                                    studying and
                                                    distributing Srila Prabhupada’s books, and all other functions
                                                    carried out in the
                                                    temple are all meant to support and encourage the betterment and
                                                    success of these
                                                    key services.</p>
                                                <div class="home-main-services col-xs-12 col-sm-12 col-md-12">
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/services/life-membership">
                                                                    <img src="{% static 'sites/default/files/homepage/home_life_membership.png' %}"
                                                                        width="145" height="145"
                                                                        alt="Life Membership" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/services/life-membership">Life Membership</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/services/bhakti-sadan">
                                                                    <img src="{% static 'sites/default/files/homepage/home_bhaktisadan.jpg' %}"
                                                                        width="145" height="145" alt="Bhakti Sadan" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/services/bhakti-sadan">Bhakti Sadan</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/services/govindas-prasadam">
                                                                    <img src="{% static 'sites/default/files/homepage/home_prasad.jpg' %}"
                                                                        width="145" height="145"
                                                                        alt="Govinda’s Prasadam" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/services/govindas-prasadam">Govinda’s
                                                                    Prasadam</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/services/sunday-feast">
                                                                    <img src="{% static 'sites/default/files/homepage/home_sunday_feast.jpg' %}"
                                                                        width="145" height="145"
                                                                        alt="The Sunday Feast" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/services/sunday-feast">The Sunday Feast</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="block-homeblockprabhupad"
                                        class="block block-block-content block-block-content43141bbc-d95c-43b0-8fa8-5e8b73ebaa6c">
                                        <div class="content">
                                            <div
                                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <div class="align-center">
                                                    <div
                                                        class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                                        <div class="field__label visually-hidden">Image</div>
                                                        <div class="field__item">
                                                            <picture>
                                                                <img src="{{banner.0.image.url}}"
                                                                    alt="{{banner.0.alt}}" />
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="block-donation"
                                        class="block block-block-content block-block-content79f5dd29-39ab-4004-a88e-26d3687b16df">
                                        <h2>Donation</h2>
                                        <div class="content">
                                            <div
                                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                <p>Krishna once said that good deeds made, gifted, frugal, and done
                                                    without faith are
                                                    shown as no or “assat.” Therefore, neither here nor below is useful.
                                                    Let us take a
                                                    step closer to the devotion of Kanha and do our bit to help others
                                                    in need.</p>
                                                <div class="home-main-services col-xs-12 col-sm-12 col-md-12">
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/donation/janmashtami-seva">
                                                                    <img src="{% static 'sites/default/files/homepage/home_prasad_donation.jpg' %}"
                                                                        width="145" height="145"
                                                                        alt="Prasadam Donation" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/donation/janmashtami-seva">Janmashtami
                                                                    Seva</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/donation/annadana-seva">
                                                                    <img src="{% static 'sites/default/files/homepage/home_food_for_life.jpg' %}"
                                                                        width="145" height="145" alt="Food For Life" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/donation/annadana-seva">Food For Life</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/donation/temple-seva">
                                                                    <img src="{% static 'sites/default/files/homepage/home_temple_seva.jpeg' %}"
                                                                        width="145" height="145" alt="Temple Seva" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/donation/temple-seva">Temple Seva</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                                        <div class="main-services-inner">
                                                            <p>
                                                                <a href="/donation/nitya-seva">
                                                                    <img src="{%static 'sites/default/files/homepage/home_nitya_seva.jpg' %}"
                                                                        width="145" height="145" alt="Nitya Seva" />
                                                                </a>
                                                            </p>
                                                            <h6>
                                                                <a href="/donation/nitya-seva">Nitya Seva</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </main>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}

            </div>
        </div>
    </div>
    {% if news_popup %}
    <div class="modal fade" id="newsModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-0">
            <a href="{{ news_popup.link_url }}">
              <img src="{{ news_popup.image.url }}" alt="{{ news_popup.alt }}" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% include 'body_script.html' %}
</body>

</html>
