{% load static %}
<header id="header" class="header" role="banner" aria-label="Site header">
                        <nav class="navbar fixed-top navbar-expand-md" id="navbar-main">
                            <section class="region region-header d-block d-md-none">
                                <a href="/" title="Home" rel="home" class="navbar-brand">ISKCON Gorakhpur
    </a>
                            </section>
                            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="CollapsingNavbar">
                                <nav role="navigation" aria-labelledby="block-akara-main-menu-menu" id="block-akara-main-menu" class="block block-menu navigation menu--main">
                                    <h2 class="visually-hidden" id="block-akara-main-menu-menu">Main navigation</h2>
                                    <ul class="clearfix nav navbar-nav align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                                        <li class="nav-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/" class="nav-link nav-link-- is-active" data-drupal-link-system-path="&lt;front&gt;">Home</a>
                                        </li>
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/" class="nav-link dropdown-toggle nav-link-- is-active" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="&lt;front&gt;">Who We Are</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/about-us" class="nav-link--who-we-are-about-us" data-drupal-link-system-path="node/65">About Us</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/our-mission" class="nav-link--who-we-are-our-mission" data-drupal-link-system-path="node/226">Our mission</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/founder-acharya" class="nav-link--who-we-are-founder-acharya" data-drupal-link-system-path="node/4">Founder Acharya</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/our-history" class="nav-link--who-we-are-history-of-iskcon" data-drupal-link-system-path="node/2">History Of ISKCON</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/our-philosophy" class="nav-link--who-we-are-our-philosophy" data-drupal-link-system-path="node/3">Our Philosophy</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/hare-krishna-movement" class="nav-link--who-we-are-hare-krishna-movement" data-drupal-link-system-path="node/5">Hare Krishna Movement</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/temple-schedule" class="nav-link--who-we-are-temple-schedule" data-drupal-link-system-path="node/6">Temple Schedule</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/who-we-are/resources" class="nav-link--who-we-are-resources" data-drupal-link-system-path="node/10">Resources</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/" class="nav-link dropdown-toggle nav-link-- is-active" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="&lt;front&gt;">Our Activities</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/services/life-membership" class="nav-link--services-life-membership" data-drupal-link-system-path="node/11">Life Membership</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/services/shiksha" title="Sri Guru Carana Asraya" class="nav-link--services-shiksha" data-drupal-link-system-path="node/156">Shiksha - The Bhakti Steps</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/services/harinam-sankirtana" class="nav-link--services-harinam-sankirtana" data-drupal-link-system-path="node/12">Harinam Sankirtana</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/services/sunday-feast" class="nav-link--services-sunday-feast" data-drupal-link-system-path="node/16">Sunday Feast</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/services/food-for-life" class="nav-link--services-govindas-prasadam" data-drupal-link-system-path="node/19">Food for Life</a>
                                                </li>
                                                <li class="dropdown-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/" class="dropdown-toggle nav-link-- is-active" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="&lt;front&gt;">Forum</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                            <a href="/services/krishna-fun-school" class="nav-link--services-krishna-fun-school" data-drupal-link-system-path="node/17">Krishna Fun School</a>
                                                        </li>
                                                        <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                            <a href="/services/youth-forum" class="nav-link--services-youth-forum" data-drupal-link-system-path="node/18">ISKCON Youth Forum</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/yatra" class="nav-link nav-link--yatra" data-drupal-link-system-path="yatra">Yatra</a>
                                        </li>
                                        <li class="nav-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/" class="nav-link nav-link-- is-active" data-drupal-link-system-path="&lt;front&gt;">
                                                <span class="home-menu-logo d-none d-sm-block">
                                                    <img src="{% static 'themes/contrib/akara/images/logo/logo.png' %}" alt="Home">
                                                </span>
                                                <span class="d-block d-sm-none">Home</span>
                                            </a>
                                        </li>
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/festivals?field_tags_target_id=all" class="nav-link dropdown-toggle nav-link--festivalsfield-tags-target-idall" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;all&quot;}" data-drupal-link-system-path="festivals">Festivals</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals/vaishnava-calender" class="nav-link--who-we-are-vaishnava-calendar" data-drupal-link-system-path="node/36">Vaishnava Calendar</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals/festival" class="nav-link--festivalsfield-tags-target-id13" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;13&quot;}" data-drupal-link-system-path="festivals">Prominent festivals</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals?field_tags_target_id=15" class="nav-link--festivalsfield-tags-target-id15" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;15&quot;}" data-drupal-link-system-path="festivals">Ekadashi</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals?field_tags_target_id=18" class="nav-link--festivalsfield-tags-target-id18" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;18&quot;}" data-drupal-link-system-path="festivals">Appearance Day</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals?field_tags_target_id=19" class="nav-link--festivalsfield-tags-target-id19" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;19&quot;}" data-drupal-link-system-path="festivals">Disappearance Day</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals?field_tags_target_id=20" class="nav-link--festivalsfield-tags-target-id20" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;20&quot;}" data-drupal-link-system-path="festivals">Events</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/festivals?field_tags_target_id=all" class="nav-link--festivalsfield-tags-target-idall" data-drupal-link-query="{&quot;field_tags_target_id&quot;:&quot;all&quot;}" data-drupal-link-system-path="festivals">View all Festivals</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/blogs" class="nav-link dropdown-toggle nav-link--blogs" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="blogs">Media</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/blogs" class="nav-link--blogs" data-drupal-link-system-path="blogs">Blogs</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/" class="nav-link-https--wwwphotosiskconbangalorecoin-">Gallery</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/form/offering-to-his-holiness-Jayapataka-Swami-Maharaj" class="nav-link--form-offering-to-his-holiness-jayapataka-swami-maharaj">Offering</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/" class="nav-link dropdown-toggle nav-link-- is-active" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="&lt;front&gt;">Donate</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/shastra-daan" class="nav-link--donation-shastra-daan" data-drupal-link-system-path="node/148">Shastra Daan</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/temple-seva" class="nav-link--donation-temple-seva" data-drupal-link-system-path="node/37">Temple Seva</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/annadana-seva" class="nav-link--donation-annadana-seva" data-drupal-link-system-path="node/38">Annadana Seva</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/nitya-seva" class="nav-link--donation-nitya-seva" data-drupal-link-system-path="node/39">Nitya Seva</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/janmashtami-seva" class="nav-link--donation-janmashtami-seva" data-drupal-link-system-path="node/40">Janmashtami Seva</a>
                                                </li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="/donations/tula-daan-utsav" class="nav-link--donation-tula-daan-utsav" data-drupal-link-system-path="node/198">Tula Daan Utsav</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="/contact" class="nav-link nav-link--contact-us" data-drupal-link-system-path="node/34">Contact Us</a>
                                        </li>
                                        {% if user.is_authenticated %}
                                        <li class="nav-item menu-item--expanded dropdown px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                                <i class="fas fa-user-circle"></i>
                                                <span class="d-inline d-md-none ms-1">Account</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="{% url 'payments:my_payments' %}" class="nav-link">My Payments</a>
                                                </li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li class="dropdown-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li class="nav-item px-md-3 px-lg-3 px-xl-3 px-xxl-3">
                                            <a href="{% url 'login' %}" class="nav-link">
                                                <i class="fas fa-user-circle"></i>
                                                <span class="d-inline d-md-none ms-1">Login</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </header>
